Repository openvinotoolkit/openvino_contrib, pull requests merged in 2020-11, with the labels that each got.

#7 Added README.md
  README.md
  modules/README.md
Labels: documentation

#8 Add Java tests
  .ci/azure/linux.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  modules/java_api/tests/CMakeLists.txt
  modules/java_api/tests/OpenVinoTestRunner.java
Labels: category: java

#9 Removed ENABLE_JAVA from docs
  modules/java_api/README.md
Labels: category: java, documentation

#12 Don't use ENABLE_TESTS for contrib since it takes a lot of time for m
  .ci/azure/linux.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  modules/java_api/CMakeLists.txt
Labels: category: build

#11 Added fictitious delete methods, changes for android build
  modules/java_api/CMakeLists.txt
  modules/java_api/cpp/cnn_network.cpp
  modules/java_api/cpp/data.cpp
  modules/java_api/cpp/infer_request.cpp
  modules/java_api/cpp/input_info.cpp
  modules/java_api/cpp/openvino_java.hpp
  modules/java_api/cpp/pre_process_info.cpp
  modules/java_api/org/intel/openvino/Data.java
  modules/java_api/org/intel/openvino/InputInfo.java
  modules/java_api/org/intel/openvino/PreProcessInfo.java
  modules/java_api/samples/face_detection_sample_async/Main.java
Labels: category: java
