Repository openvinotoolkit/openvino_contrib, pull requests merged in 2021-05, with the labels that each got.

#126 Added support for opset7::Gather
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/gather.cpp
Labels: category: ARM plugin

#130 Fixed AddOutput test for ARM plugin
  modules/arm_plugin/tests/functional/shared_tests_instances/behavior/add_output.cpp
Labels: category: ARM plugin

#133 [Java] Disable broken test
  modules/java_api/tests/InferRequestTests.java
Labels: category: java API

#131 Trying to enable more tests
  modules/arm_plugin/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: ARM plugin

#137 [MO] add default value for ie_is_available
  modules/mo_pytorch/mo_pytorch.py
Labels: category: MO pytorch extension

#140 GatherV7 test parameters set extended to negative batch indexes
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/gather.cpp
Labels: category: ARM plugin

#143 Interpolation tests changed
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/interpolation.cpp
Labels: category: ARM plugin

#138 [JAVA] Updated model for samples
  modules/java_api/samples/README.md
Labels: category: java API

#136 Arm pluging cross-compilation dockerfile for Debian Buster
  modules/arm_plugin/Dockerfile.RPi32_buster
  modules/arm_plugin/Dockerfile.RPi32_stretch
  modules/arm_plugin/Dockerfile.RPi64_bionic
  modules/arm_plugin/README.md
  modules/arm_plugin/armplg_build.sh
Labels: category: ARM plugin

#134 Fixed deprecation warnings
  modules/arm_plugin/src/arm_converter/arm_converter.hpp
  modules/arm_plugin/src/arm_converter/arm_converter_nms.cpp
Labels: category: ARM plugin

#142 Merged plugin and exec network internal implementation
  modules/arm_plugin/src/arm_executable_network.hpp
  modules/arm_plugin/src/arm_plugin.cpp
  modules/arm_plugin/src/arm_plugin.hpp
Labels: category: ARM plugin
