Repository openvinotoolkit/openvino_contrib, pull requests merged in 2021-06, with the labels that each got.

#148 [Java] fix Klocwork
  modules/java_api/org/intel/openvino/IECore.java
Labels: category: java API

#146 [Java] Fix failed test
  modules/java_api/tests/InferRequestTests.java
  modules/java_api/tests/README.md
Labels: category: java API

#151 Explicitly skip Import / Export tests
  modules/arm_plugin/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: ARM plugin

#152 Add explicit template parameter for wrap_fft call
  modules/arm_plugin/src/arm_converter/arm_converter_fft.cpp
Labels: category: ARM plugin

#155 Update SLT for reshape OP to be able pass `-1` as axis size
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/reshape.cpp
Labels: category: ARM plugin

#157 Skip Broadcast_748166 test
  modules/arm_plugin/tests/functional/conformance/skip_configs/skip_config_arm.lst
Labels: category: ARM plugin

#156 Extended i8 type support
  modules/arm_plugin/src/arm_converter/arm_converter.hpp
  modules/arm_plugin/src/arm_converter/arm_converter_convert.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_reduce_ops.cpp
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/decompose_variadic_split.cpp
  modules/arm_plugin/src/transformations/quantize_fusion.cpp
  modules/arm_plugin/src/transformations/quantize_fusion.hpp
Labels: category: ARM plugin

#159 Fixed compilation with gcc-5
  modules/arm_plugin/src/arm_converter/arm_converter_fake_quantize.cpp
Labels: category: ARM plugin

#161 Align SLT with new API provided in OV with output_padding support
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_backprop_data.cpp
Labels: category: ARM plugin

#162 Back with originally name of SLT ReshapeLayerTestRevise -> ReshapeLay…
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/reshape.cpp
Labels: category: ARM plugin

#163 Skip conformance tests
  modules/arm_plugin/tests/functional/conformance/skip_configs/skip_config_arm.lst
Labels: category: ARM plugin

#160 New lp tests
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter.hpp
  modules/arm_plugin/src/arm_converter/arm_converter_split.cpp
  modules/arm_plugin/src/opset/opset.hpp
  modules/arm_plugin/src/opset/split_arm.cpp
  modules/arm_plugin/src/opset/split_arm.hpp
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/arm_optimizations.hpp
  modules/arm_plugin/src/transformations/convert_split.cpp
  modules/arm_plugin/src/transformations/convert_split.hpp
  modules/arm_plugin/src/transformations/quantize_fusion.cpp
  modules/arm_plugin/src/transformations/quantize_fusion.hpp
  modules/arm_plugin/tests/functional/shared_tests_instances/low_precision_transformations/arm_convolution.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/low_precision_transformations/arm_convolution_branch.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/low_precision_transformations/arm_group_convolution.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/low_precision_transformations/convolution_transformation.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/low_precision_transformations/group_convolution_transformation.cpp
Labels: category: ARM plugin

#166 It's already installed via ie_add_plugin
  modules/arm_plugin/src/CMakeLists.txt
Labels: category: ARM plugin

#165 Fix mo_pytorch tests
  modules/mo_pytorch/mo_pytorch.py
Labels: category: MO pytorch extension

#168 Added cpack rules for ARM plugin
  modules/arm_plugin/CMakeLists.txt
Labels: category: ARM plugin, category: build

#170 Removed SKIP_INSTALL
  modules/arm_plugin/src/CMakeLists.txt
Labels: category: ARM plugin, category: build

#171 Removed tensor name
  modules/arm_plugin/src/arm_converter/arm_converter_nms.cpp
Labels: category: ARM plugin

#169 Use COMPILE_OPTIONS instead of COMPILE_FLAGS
  modules/arm_plugin/src/CMakeLists.txt
Labels: category: ARM plugin, category: build
