Repository openvinotoolkit/openvino_contrib, pull requests merged in 2021-04, with the labels that each got.

#114 Short reference switch
  modules/arm_plugin/src/arm_converter/arm_converter.hpp
  modules/arm_plugin/src/arm_converter/arm_converter_activation.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_arithmetic_unary.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_concat.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_conv_backprop_data.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_ctc_greedy_decoder.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_ctc_loss.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_cumsum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_detection_output.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_eltwise.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_embedding_bag_offset_sum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_embedding_bag_packed_sum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_embedding_segments_sum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather_elements.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather_nd.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather_tree.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_interpolate.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_mvn.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_normalize_l2.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_one_hot.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_proposal.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_psroi_pool.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_region_yolo.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_reverse_sequence.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_roi_align.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_roi_pool.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_round.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_scatter_ND_update.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_scatter_elements_update.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_scatter_update.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_strided_slice.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_topk.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_transpose.cpp
Labels: category: ARM plugin

#117 Fix gradle build without MODELS_PATH
  modules/java_api/build.gradle
Labels: category: java API

#116 add default 0 value for batch_dims in v1::Gather reference
  modules/arm_plugin/src/arm_converter/arm_converter_gather.cpp
Labels: category: ARM plugin

#119 Fixed multithreaded plugin load
  modules/arm_plugin/src/arm_config.cpp
  modules/arm_plugin/src/arm_config.hpp
  modules/arm_plugin/src/arm_executable_network.cpp
  modules/arm_plugin/src/arm_executable_network.hpp
  modules/arm_plugin/src/arm_plugin.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: ARM plugin

#122 [ARM Plugin] Added LSTMSequence, GRUSequence, RNNSequence layers.
  modules/arm_plugin/docs/arm_opset.md
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_reverse_sequence.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_sequence_ops.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/gru_sequence.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/lstm_sequence.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/rnn_sequence.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: ARM plugin

#120 Added CTCDecoderSeqLen reference implementation
  modules/arm_plugin/docs/arm_opset.md
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter.hpp
  modules/arm_plugin/src/arm_converter/arm_converter_ctc_greedy_decoder_seq_len.cpp
  modules/arm_plugin/src/arm_infer_request.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/ctc_greedy_decoder_seq_len.cpp
Labels: category: ARM plugin

#103 [Java] Remove plugins loading
  .ci/azure/linux.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  modules/java_api/build.gradle
  modules/java_api/org/intel/openvino/IECore.java
  modules/java_api/tests/IETest.java
  modules/java_api/tests/InferRequestTests.java
  modules/java_api/tests/OpenVinoTestRunner.java
  modules/java_api/tests/README.md
Labels: category: java API

#115 Refactored internal internal infer request
  modules/arm_plugin/src/arm_executable_network.cpp
  modules/arm_plugin/src/arm_executable_network.hpp
  modules/arm_plugin/src/arm_infer_request.cpp
  modules/arm_plugin/src/arm_infer_request.hpp
  modules/arm_plugin/src/arm_plugin.cpp
Labels: category: ARM plugin

#123 Removed deprecated API usage in Java API
  modules/java_api/cpp/ie_core.cpp
Labels: category: java API

#125 Updated headers for ARM plugin
  modules/arm_plugin/src/arm_config.cpp
  modules/arm_plugin/src/arm_config.hpp
  modules/arm_plugin/src/arm_executable_network.cpp
  modules/arm_plugin/src/arm_executable_network.hpp
  modules/arm_plugin/src/arm_infer_request.cpp
  modules/arm_plugin/src/arm_infer_request.hpp
  modules/arm_plugin/src/arm_plugin.cpp
  modules/arm_plugin/src/arm_plugin.hpp
Labels: category: ARM plugin, category: build

#127 [ARM Plugin] Added bucketize reference implementation
  modules/arm_plugin/docs/arm_opset.md
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_bucketize.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/bucketize.cpp
Labels: category: ARM plugin

#128 [IE TESTS] Add skip test config file for Conformance suite
  modules/arm_plugin/tests/functional/conformance/skip_configs/skip_config_arm.lst
Labels: category: ARM plugin
