Repository openvinotoolkit/openvino_contrib, pull requests merged in 2021-03, with the labels that each got.

#25 Changed ConstantResultSubgraphTest instantiate
  modules/arm_plugin/tests/functional/shared_tests_instances/skip_tests_config.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/subgraph_tests/constant_result.cpp
Labels: category: ARM plugin

#49 Fixed ARM plugin bugs
  modules/arm_plugin/src/arm_converter/arm_converter_activation.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_concat.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_eltwise.cpp
  modules/arm_plugin/src/arm_infer_request.cpp
  modules/arm_plugin/src/opset/group_conv_arm.hpp
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/conv_bias_activ_fusion.cpp
  modules/arm_plugin/src/transformations/convert_conv1d_to_conv2d.cpp
  modules/arm_plugin/src/transformations/convert_conv1d_to_conv2d.hpp
  modules/arm_plugin/src/transformations/convert_interpolate_v0_to_v4.cpp
  modules/arm_plugin/src/transformations/convert_interpolate_v0_to_v4.hpp
  modules/arm_plugin/src/transformations/convert_prelu.cpp
  modules/arm_plugin/src/transformations/convert_prelu.hpp
  modules/arm_plugin/src/transformations/decompose_normalizel2_add.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/group_convolution.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/normalize_l2.cpp
Labels: category: ARM plugin

#55 Fixed AC scheduler initialization
  modules/arm_plugin/src/arm_plugin.cpp
Labels: category: ARM plugin

#56 [ARM CPU plugin] Display meaningful labels on OMZ demos
  modules/arm_plugin/README.md
  modules/arm_plugin/docs/img/object_detection_demo_yolo.gif
Labels: category: ARM plugin

#57 Switched to opset6
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_mvn.cpp
  modules/arm_plugin/src/opset/mvn_arm.cpp
  modules/arm_plugin/src/opset/mvn_arm.hpp
  modules/arm_plugin/src/opset/ngraph_opset.hpp
  modules/arm_plugin/src/opset/opset.hpp
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/convert_mvn_arm.cpp
  modules/arm_plugin/src/transformations/convert_mvn_arm.hpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/mvn.cpp
Labels: category: ARM plugin

#45 Removed IRelease API from IE
  modules/arm_plugin/src/arm_plugin.hpp
Labels: category: ARM plugin

#61 Replace Python assert
  modules/mo_pytorch/mo_extensions/front/pytorch/interpolate.py
  modules/mo_pytorch/mo_extensions/load/pytorch/detectron2/retinanet.py
  modules/mo_pytorch/mo_extensions/load/pytorch/hooks.py
  modules/mo_pytorch/mo_extensions/load/pytorch/loader.py
  modules/mo_pytorch/test/run_tests.py
Labels: category: MO pytorch extension

#59 Update arm opset
  modules/arm_plugin/docs/arm_opset.md
  modules/arm_plugin/src/transformations/convert_conv1d_to_conv2d.cpp
Labels: category: ARM plugin

#66 Enable tests with strided slice
  modules/mo_pytorch/test/run_tests.py
Labels: category: MO pytorch extension

#63 Fix Klocwork issues in Java
  modules/java_api/cpp/blob.cpp
  modules/java_api/org/intel/openvino/IEWrapper.java
  modules/java_api/samples/ArgumentParser.java
  modules/java_api/samples/benchmark_app/Main.java
Labels: category: java API

#58 Separate Convert, ConvertLike and Concat ops
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_concat.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_convert.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_convert_like.cpp
  modules/arm_plugin/src/opset/concat_arm.cpp
  modules/arm_plugin/src/opset/concat_arm.hpp
  modules/arm_plugin/src/opset/convert_arm.cpp
  modules/arm_plugin/src/opset/convert_arm.hpp
  modules/arm_plugin/src/opset/opset.hpp
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/convert_concat.cpp
  modules/arm_plugin/src/transformations/convert_concat.hpp
  modules/arm_plugin/src/transformations/convert_convert.cpp
  modules/arm_plugin/src/transformations/convert_convert.hpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/concat.cpp
Labels: category: ARM plugin

#65 Updated arm plugin build script
  modules/arm_plugin/README.md
  modules/arm_plugin/armplg_build.sh
Labels: category: ARM plugin

#68 Move module description to main README
  README.md
  modules/README.md
Labels: category: build

#60 Added change to support gelu-7 in reference implementations
  modules/arm_plugin/src/arm_converter/arm_converter_activation.cpp
  modules/arm_plugin/src/opset/ngraph_opset.hpp
Labels: category: ARM plugin

#70 Switch to opset7
  modules/arm_plugin/docs/arm_opset.md
Labels: category: ARM plugin

#71 Supported 1D pooling
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/convert_pool1d_to_pool2d.cpp
  modules/arm_plugin/src/transformations/convert_pool1d_to_pool2d.hpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/pooling.cpp
Labels: category: ARM plugin

#75 Added GatherElements reference implementation
  modules/arm_plugin/docs/arm_opset.md
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather_elements.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/gather_elements.cpp
Labels: category: ARM plugin

#73 Remove PriorBox transformation
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/convert_prior_box_clustered_to_const.cpp
  modules/arm_plugin/src/transformations/convert_prior_box_clustered_to_const.hpp
  modules/arm_plugin/src/transformations/convert_prior_box_to_const.cpp
  modules/arm_plugin/src/transformations/convert_prior_box_to_const.hpp
Labels: category: ARM plugin

#76 Documentation fixes how to run OpenVINO sample
  modules/arm_plugin/README.md
Labels: category: ARM plugin, documentation

#77 WA for gcc-5 internal compiler error
  modules/arm_plugin/src/arm_converter/arm_converter.hpp
  modules/arm_plugin/src/arm_converter/arm_converter_activation.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_arithmetic_unary.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_concat.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_conv_backprop_data.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_convert.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_convert_like.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_ctc_greedy_decoder.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_ctc_loss.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_cumsum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_detection_output.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_eltwise.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_embedding_bag_offset_sum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_embedding_bag_packed_sum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_embedding_segments_sum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather_elements.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather_nd.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather_tree.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_group_conv_backprop_data.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_interpolate.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_mvn.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_nms.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_one_hot.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_psroi_pool.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_region_yolo.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_reverse_sequence.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_roi_align.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_roi_pool.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_round.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_scatter_ND_update.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_scatter_elements_update.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_scatter_update.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_topk.cpp
  modules/arm_plugin/thirdparty/CMakeLists.txt
Labels: category: ARM plugin, category: build

#52 OneHot convertor update
  modules/arm_plugin/src/arm_converter/arm_converter_one_hot.cpp
Labels: category: ARM plugin

#80 Added Gelu transformation
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
Labels: category: ARM plugin

#81 Fixed gcc-5 issue for OneHot
  modules/arm_plugin/src/arm_converter/arm_converter_activation.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_concat.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_conv_backprop_data.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_convert.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_convert_like.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_ctc_greedy_decoder.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_ctc_loss.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_cumsum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_detection_output.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_eltwise.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_embedding_bag_offset_sum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_embedding_bag_packed_sum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_embedding_segments_sum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather_elements.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather_nd.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather_tree.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_group_conv_backprop_data.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_interpolate.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_mvn.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_nms.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_one_hot.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_psroi_pool.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_region_yolo.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_reverse_sequence.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_roi_align.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_roi_pool.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_round.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_scatter_ND_update.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_scatter_elements_update.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_scatter_update.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_topk.cpp
Labels: category: ARM plugin

#84 Enable Convolution fusion
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/conv_bias_activ_fusion.cpp
Labels: category: ARM plugin

#83 Fixed Power Eltwise
  modules/arm_plugin/src/arm_converter/arm_converter_eltwise.cpp
Labels: category: ARM plugin

#86 Apple M1 support
  modules/arm_plugin/thirdparty/CMakeLists.txt
Labels: category: build, platform: osx

#32 IE Exceptions Refactoring
  modules/arm_plugin/src/arm_config.cpp
  modules/arm_plugin/src/arm_config.hpp
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter.hpp
  modules/arm_plugin/src/arm_converter/arm_converter_activation.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_arithmetic_unary.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_batch_norm.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_batch_to_space.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_comparison.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_conv.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_conv_backprop_data.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_ctc_greedy_decoder.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_ctc_loss.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_cumsum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_depth_to_space.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_detection_output.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_eltwise.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_embedding_bag_offset_sum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_embedding_bag_packed_sum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_embedding_segments_sum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather_nd.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather_tree.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_interpolate.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_lrn.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_mat_mul.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_mvn.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_nms.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_normalize_l2.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_pad.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_pool.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_psroi_pool.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_reduce_ops.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_region_yolo.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_reorg_yolo.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_reshape.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_reverse_sequence.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_roi_pool.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_round.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_scatter_ND_update.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_scatter_elements_update.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_scatter_update.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_select.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_shuffle_channels.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_softmax.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_space_to_batch.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_space_to_depth.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_strided_slice.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_topk.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_transpose.cpp
  modules/arm_plugin/src/arm_ie_scheduler.cpp
  modules/arm_plugin/src/opset/utils.hpp
  modules/arm_plugin/src/transformations/convert_group_conv.cpp
  modules/arm_plugin/src/transformations/convert_logical.cpp
  modules/arm_plugin/src/transformations/convert_mat_mul.cpp
  modules/arm_plugin/src/transformations/convert_reduce_multi_axis.cpp
  modules/arm_plugin/src/transformations/convert_round.cpp
  modules/arm_plugin/src/transformations/convert_strided_slice.cpp
  modules/arm_plugin/src/transformations/convert_tile_to_concats.cpp
  modules/arm_plugin/src/transformations/decompose_variadic_split.cpp
Labels: category: ARM plugin

#87 [ARM plugin] Minor fixes
  modules/arm_plugin/src/arm_converter/arm_converter_activation.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_arithmetic_unary.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_concat.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_conv.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_conv_backprop_data.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_convert.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_convert_like.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_ctc_greedy_decoder.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_ctc_loss.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_detection_output.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_eltwise.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_embedding_bag_offset_sum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_embedding_bag_packed_sum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_embedding_segments_sum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather_elements.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather_nd.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather_tree.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_group_conv_backprop_data.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_mvn.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_nms.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_pad.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_proposal.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_psroi_pool.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_region_yolo.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_reverse_sequence.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_roi_align.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_roi_pool.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_scatter_ND_update.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_scatter_elements_update.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_scatter_update.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_topk.cpp
  modules/arm_plugin/src/transformations/conv_bias_activ_fusion.cpp
  modules/arm_plugin/src/transformations/convert_batch_norm.cpp
  modules/arm_plugin/src/transformations/convert_ceiling.cpp
  modules/arm_plugin/src/transformations/convert_grn_to_normalizel2.cpp
  modules/arm_plugin/src/transformations/convert_mat_mul.cpp
  modules/arm_plugin/src/transformations/convert_prelu.cpp
  modules/arm_plugin/src/transformations/convert_reorg.cpp
  modules/arm_plugin/src/transformations/convert_round.cpp
  modules/arm_plugin/src/transformations/convert_shuffle_channels.cpp
  modules/arm_plugin/src/transformations/convert_sign.cpp
  modules/arm_plugin/src/transformations/convert_strided_slice.cpp
  modules/arm_plugin/src/transformations/convert_tile_to_concats.cpp
  modules/arm_plugin/src/transformations/decompose_mish.cpp
  modules/arm_plugin/src/transformations/decompose_normalizel2_add.cpp
  modules/arm_plugin/src/transformations/decompose_swish.cpp
  modules/arm_plugin/src/transformations/decompose_variadic_split.cpp
Labels: category: ARM plugin

#82 Separate NormalizeL2 op support into native and reference
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_normalize_l2.cpp
  modules/arm_plugin/src/opset/normalizel2_arm.cpp
  modules/arm_plugin/src/opset/normalizel2_arm.hpp
  modules/arm_plugin/src/opset/opset.hpp
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/convert_normalizel2_arm.cpp
  modules/arm_plugin/src/transformations/convert_normalizel2_arm.hpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/normalize_l2.cpp
Labels: category: ARM plugin

#90 Disabled ONNX importer build for contrib
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
Labels: category: CI

#88 Pass OpenVINO common flags to ARM compute as well
  modules/arm_plugin/thirdparty/CMakeLists.txt
Labels: category: build

#85 Added smoke prefix
  modules/arm_plugin/src/transformations/convert_strided_slice.cpp
  modules/arm_plugin/src/transformations/decompose_swish.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/activation.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/batch_to_space.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/comparison.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/concat.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/convert.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_backprop_data.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/ctc_greedy_decoder.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/ctc_loss.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/cum_sum.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/depth_to_space.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/detection_output.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/eltwise.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/embedding_bag_offsets_sum.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/embedding_bag_packed_sum.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/embedding_segments_sum.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/gather.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/gather_nd.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/gather_tree.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/group_convolution.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/gru_cell.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/log_softmax.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/logical.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/lrn.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/lstm_cell.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/mat_mul.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/minimum_maximum.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/mvn.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/non_max_suppression.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/normalize_l2.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/pad.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/pooling.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/power.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/psroi_pooling.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/reduce_ops.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/region_yolo.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/reshape.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/reverse_sequence.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/rnn_cell.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/roi_pooling.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/select.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/shuffle_channels.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/softmax.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/space_to_batch.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/space_to_depth.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/split.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/squeeze_unsqueeze.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/strided_slice.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/tile.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/topk.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/transpose.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/variadic_split.cpp
Labels: category: ARM plugin

#92 Added ReduceLogical ops
  modules/arm_plugin/docs/arm_opset.md
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_reduce_ops.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/reduce_ops.cpp
Labels: category: ARM plugin

#89 Used IE_THROW macro
  modules/arm_plugin/src/arm_config.cpp
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter.hpp
  modules/arm_plugin/src/arm_converter/arm_converter_activation.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_arithmetic_unary.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_batch_to_space.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_concat.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_conv.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_conv_backprop_data.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_convert.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_convert_like.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_ctc_greedy_decoder.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_ctc_loss.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_cumsum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_depth_to_space.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_detection_output.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_eltwise.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_embedding_bag_offset_sum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_embedding_bag_packed_sum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_embedding_segments_sum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather_elements.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather_nd.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather_tree.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_group_conv_backprop_data.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_interpolate.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_lrn.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_mat_mul.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_mvn.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_normalize_l2.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_one_hot.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_pad.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_proposal.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_psroi_pool.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_reduce_ops.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_region_yolo.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_reorg_yolo.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_reverse_sequence.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_roi_align.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_roi_pool.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_round.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_scatter_ND_update.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_scatter_elements_update.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_scatter_update.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_select.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_shuffle_channels.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_space_to_batch.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_space_to_depth.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_topk.cpp
  modules/arm_plugin/src/arm_executable_network.cpp
  modules/arm_plugin/src/arm_infer_request.cpp
  modules/arm_plugin/src/arm_plugin.cpp
  modules/arm_plugin/src/transformations/conv_bias_activ_fusion.cpp
  modules/arm_plugin/src/transformations/convert_group_conv.cpp
  modules/arm_plugin/src/transformations/convert_reduce_multi_axis.cpp
  modules/arm_plugin/src/transformations/convert_strided_slice.cpp
  modules/arm_plugin/src/transformations/convert_tile_to_concats.cpp
  modules/arm_plugin/src/transformations/decompose_variadic_split.cpp
Labels: category: ARM plugin

#93 Remove MO deps from mo_pytorch module
  .ci/azure/linux.yml
  modules/mo_pytorch/test/requirements.txt
Labels: category: MO pytorch extension

#91 Added FP16 reference implementation
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter.hpp
  modules/arm_plugin/src/arm_converter/arm_converter_activation.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_arithmetic_unary.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_concat.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_conv_backprop_data.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_convert.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_convert_like.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_ctc_greedy_decoder.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_ctc_loss.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_cumsum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_detection_output.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_eltwise.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_embedding_bag_offset_sum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_embedding_bag_packed_sum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_embedding_segments_sum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather_elements.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather_nd.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather_tree.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_group_conv_backprop_data.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_interpolate.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_mvn.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_normalize_l2.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_one_hot.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_proposal.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_psroi_pool.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_region_yolo.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_reverse_sequence.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_roi_align.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_roi_pool.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_round.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_scatter_ND_update.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_scatter_elements_update.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_scatter_update.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_topk.cpp
  modules/arm_plugin/src/arm_infer_request.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: ARM plugin

#94 Removed deprecated macro usage
  modules/arm_plugin/src/arm_converter/arm_converter_reduce_ops.cpp
Labels: category: ARM plugin

#99 Added ARM plugin options to cache
  modules/arm_plugin/CMakeLists.txt
  modules/arm_plugin/cmake/features.cmake
  modules/arm_plugin/thirdparty/CMakeLists.txt
Labels: category: ARM plugin, category: build

#102 Fixed cmake variable for ARM_COMPUTE_TARGET_ARCH
  modules/arm_plugin/cmake/features.cmake
Labels: bug, category: ARM plugin, category: build

#100 Added subgraph tests
  modules/arm_plugin/src/transformations/decompose_variadic_split.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/subgraph_tests/conv_eltwise_fusion.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/subgraph_tests/get_output_before_activation.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/subgraph_tests/matmul_squeeze_add.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/subgraph_tests/multiply_add.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/subgraph_tests/perm_conv_perm_concat.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/subgraph_tests/relu_shape_of.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/subgraph_tests/reshape_squeeze_reshape_relu.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/subgraph_tests/split_conv_concat.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/subgraph_tests/tensor_names.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/subgraph_tests/variadic_split_pad.cpp
Labels: category: ARM plugin

#105 Switch Gather to v1
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather.cpp
Labels: category: ARM plugin

#104 Added transformation to avoid mixed precision in inputs
  modules/arm_plugin/src/arm_converter/arm_converter_interpolate.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_proposal.cpp
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/convert_inputs_precision.cpp
  modules/arm_plugin/src/transformations/convert_inputs_precision.hpp
Labels: category: ARM plugin

#106 More precise arch for apple m1
  modules/arm_plugin/cmake/features.cmake
  modules/arm_plugin/src/arm_converter/arm_converter_activation.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_cumsum.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_detection_output.cpp
  modules/arm_plugin/thirdparty/CMakeLists.txt
Labels: category: ARM plugin, category: build, platform: arm, platform: osx

#98 Added FP16 test cases
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/batch_to_space.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_backprop_data.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/psroi_pooling.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/reduce_ops.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/region_yolo.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/reorg_yolo.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/roi_align.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/space_to_batch.cpp
Labels: category: ARM plugin

#97 Implemented configuration of simultaneous scons jobs for Arm plugin
  .ci/azure/linux_arm64.yml
  modules/arm_plugin/README.md
  modules/arm_plugin/armplg_build.sh
  modules/arm_plugin/cmake/features.cmake
  modules/arm_plugin/thirdparty/CMakeLists.txt
Labels: category: ARM plugin, category: build

#67 Separate Transpose layer support into native and reference
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_transpose.cpp
  modules/arm_plugin/src/opset/opset.hpp
  modules/arm_plugin/src/opset/transpose_arm.cpp
  modules/arm_plugin/src/opset/transpose_arm.hpp
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/convert_transpose_arm.cpp
  modules/arm_plugin/src/transformations/convert_transpose_arm.hpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/transpose.cpp
Labels: category: ARM plugin

#109 Added git configuration
  modules/arm_plugin/Dockerfile.RPi32
  modules/arm_plugin/Dockerfile.RPi64
  modules/arm_plugin/armplg_build.sh
Labels: category: ARM plugin

#108 add missed operations to arm_opset.md
  modules/arm_plugin/docs/arm_opset.md
Labels: category: ARM plugin, documentation

#107 Disable fusing: convolution with activation
  modules/arm_plugin/src/arm_converter/arm_converter_conv.cpp
  modules/arm_plugin/src/opset/conv_arm.cpp
  modules/arm_plugin/src/opset/conv_arm.hpp
  modules/arm_plugin/src/opset/group_conv_arm.cpp
  modules/arm_plugin/src/opset/group_conv_arm.hpp
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/conv_bias_activ_fusion.cpp
  modules/arm_plugin/src/transformations/conv_bias_activ_fusion.hpp
  modules/arm_plugin/src/transformations/conv_bias_fusion.cpp
  modules/arm_plugin/src/transformations/conv_bias_fusion.hpp
Labels: category: ARM plugin

#110 Added Gather reference implementation
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_gather.cpp
  modules/arm_plugin/src/opset/gather_arm.cpp
  modules/arm_plugin/src/opset/gather_arm.hpp
  modules/arm_plugin/src/opset/opset.hpp
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/convert_gather_arm.cpp
  modules/arm_plugin/src/transformations/convert_gather_arm.hpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/gather.cpp
Labels: category: ARM plugin

#113 Added TensorIterator to sequence conversion
  modules/arm_plugin/docs/arm_opset.md
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/tensor_iterator.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: ARM plugin

#111 Added broadcast for Select op
  modules/arm_plugin/docs/arm_opset.md
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/convert_select.cpp
  modules/arm_plugin/src/transformations/convert_select.hpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/select.cpp
Labels: category: ARM plugin

#112 Separate StridedSlice op support into native and reference
  modules/arm_plugin/docs/arm_opset.md
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_strided_slice.cpp
  modules/arm_plugin/src/opset/opset.hpp
  modules/arm_plugin/src/opset/strided_slice_arm.cpp
  modules/arm_plugin/src/opset/strided_slice_arm.hpp
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/convert_strided_slice.cpp
  modules/arm_plugin/src/transformations/convert_strided_slice_arm.cpp
  modules/arm_plugin/src/transformations/convert_strided_slice_arm.hpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/strided_slice.cpp
Labels: category: ARM plugin
