Repository openvinotoolkit/openvino_contrib, pull requests merged in 2021-12, with the labels that each got.

#248 Align build paths with OV 2022.1
  modules/arm_plugin/armplg_build.sh
Labels: category: ARM plugin

#251 [ARM] Align with new OMZ branching strategy
  modules/arm_plugin/armplg_build.sh
Labels: category: ARM plugin

#217 [PyTorch] Update test dependencies
  .ci/azure/linux.yml
  modules/mo_pytorch/mo_extensions/load/pytorch/hooks.py
  modules/mo_pytorch/test/requirements.txt
  modules/mo_pytorch/test/run_tests.py
Labels: category: MO pytorch extension

#260 OpenVINO moved temp folder
  .ci/azure/linux.yml
  .ci/azure/windows.yml
Labels: category: CI

#256 Update documentation to build ARM plugin on M1 chip
  modules/arm_plugin/README.md
Labels: category: ARM plugin

#261 [MO] Remove USRNet until they publish license
  .ci/azure/linux.yml
  modules/mo_pytorch/test/run_tests.py
Labels: category: MO pytorch extension

#259 [ARM Plugin] added color_convert_nv12 reference support
  modules/arm_plugin/docs/arm_opset.md
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_convert_color_nv12.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/convert_color_nv12.cpp
Labels: category: ARM plugin

#237 ArmPlugin LPT implementation update
  modules/arm_plugin/src/arm_config.cpp
  modules/arm_plugin/src/arm_config.hpp
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter.hpp
  modules/arm_plugin/src/arm_converter/arm_converter_conv.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_mat_mul.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_pool.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_quantize.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_reduce_ops.cpp
  modules/arm_plugin/src/arm_infer_request.cpp
  modules/arm_plugin/src/arm_infer_request.hpp
  modules/arm_plugin/src/arm_plugin.cpp
  modules/arm_plugin/src/opset/noop_arm.cpp
  modules/arm_plugin/src/opset/noop_arm.hpp
  modules/arm_plugin/src/opset/opset.hpp
  modules/arm_plugin/src/opset/utils.cpp
  modules/arm_plugin/src/opset/utils.hpp
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/convert_batchnorm_v0_to_v5.cpp
  modules/arm_plugin/src/transformations/quantize_fusion.cpp
  modules/arm_plugin/src/transformations/quantize_fusion.hpp
Labels: category: ARM plugin

#265 Fixed shape inference for quantization layer constants
  modules/arm_plugin/src/transformations/quantize_fusion.cpp
Labels: category: ARM plugin

#267 [ARM] Fix deprecation warnings
  modules/arm_plugin/src/arm_converter/arm_converter_interpolate.cpp
  modules/arm_plugin/src/transformations/convert_interpolate_arm.cpp
Labels: category: ARM plugin

#272 [MO] Fix bug with proposals computation
  modules/mo_pytorch/mo_extensions/load/pytorch/mask_rcnn/mask_rcnn.py
Labels: category: MO pytorch extension

#276 Fixed null pointer dereferencing issues
  modules/arm_plugin/src/transformations/quantize_fusion.cpp
Labels: category: ARM plugin

#254 [PyTorch] Mask R-CNN with internal shapes dynamism
  modules/mo_pytorch/mo_extensions/front/pytorch/nonzero_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/scatter_ext.py
  modules/mo_pytorch/mo_extensions/load/pytorch/detectron2/retinanet.py
  modules/mo_pytorch/mo_extensions/load/pytorch/hooks.py
  modules/mo_pytorch/mo_extensions/load/pytorch/loader.py
  modules/mo_pytorch/mo_extensions/load/pytorch/mask_rcnn/mask_rcnn.py
  modules/mo_pytorch/mo_extensions/load/pytorch/model_hooks.py
  modules/mo_pytorch/mo_extensions/load/pytorch/usrnet/usrnet.py
  modules/mo_pytorch/mo_pytorch.py
  modules/mo_pytorch/test/run_tests.py
Labels: category: MO pytorch extension
