Repository openvinotoolkit/openvino_contrib, pull requests merged in 2022-10, with the labels that each got.

#438 Enabled build for arm64 on x86 host
  .ci/azure/mac.yml
  modules/arm_plugin/CMakeLists.txt
  modules/arm_plugin/cmake/features.cmake
  modules/arm_plugin/src/CMakeLists.txt
  modules/arm_plugin/thirdparty/CMakeLists.txt
Labels: category: build

#343 Enabled TBB threading
  .ci/azure/linux_arm64.yml
  modules/arm_plugin/README.md
  modules/arm_plugin/dockerfiles/Dockerfile.RPi32_buster
  modules/arm_plugin/dockerfiles/Dockerfile.RPi32_stretch
  modules/arm_plugin/dockerfiles/Dockerfile.RPi64_bionic
  modules/arm_plugin/dockerfiles/Dockerfile.RPi64_focal
  modules/arm_plugin/scripts/arm_cpu_plugin_build.sh
  modules/arm_plugin/scripts/install_build_dependencies.sh
  modules/arm_plugin/src/arm_plugin.cpp
  modules/arm_plugin/src/arm_plugin.hpp
Labels: category: ARM plugin

#432 [JAVA API] Java samples build with gradle, Kotlin sample
  modules/java_api/README.md
  modules/java_api/build.gradle
  modules/java_api/gradle.properties
  modules/java_api/org/intel/openvino/Core.java
  modules/java_api/samples/README.md
  modules/java_api/samples/benchmark_app/CMakeLists.txt
  modules/java_api/samples/benchmark_app/build.gradle
  modules/java_api/samples/benchmark_app/settings.gradle
  modules/java_api/samples/face_detection_java_sample/CMakeLists.txt
  modules/java_api/samples/face_detection_java_sample/build.gradle
  modules/java_api/samples/face_detection_java_sample/settings.gradle
  modules/java_api/samples/face_detection_kotlin_sample/README.md
  modules/java_api/samples/face_detection_kotlin_sample/build.gradle
  modules/java_api/samples/face_detection_kotlin_sample/face_detection_kotlin_sample.kt
  modules/java_api/samples/face_detection_kotlin_sample/settings.gradle
  modules/java_api/samples/face_detection_sample_async/CMakeLists.txt
  modules/java_api/samples/face_detection_sample_async/build.gradle
  modules/java_api/samples/face_detection_sample_async/settings.gradle
  modules/java_api/settings.gradle
Labels: category: java API

#444 Used OpenVINODeveloperPackage
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_coverity_arm64.yml
  modules/arm_plugin/CMakeLists.txt
  modules/arm_plugin/scripts/arm_cpu_plugin_build.sh
  modules/arm_plugin/src/CMakeLists.txt
  modules/arm_plugin/tests/functional/CMakeLists.txt
  modules/java_api/CMakeLists.txt
  modules/java_api/samples/CMakeLists.txt
  modules/nvidia_plugin/CMakeLists.txt
  modules/nvidia_plugin/README.md
  modules/nvidia_plugin/src/CMakeLists.txt
  modules/nvidia_plugin/tests/functional/CMakeLists.txt
  modules/nvidia_plugin/tests/unit/CMakeLists.txt
Labels: category: build

#447 Updated OpenVINO ARM build inside the docker images
  modules/arm_plugin/dockerfiles/Dockerfile.RPi32_buster
  modules/arm_plugin/dockerfiles/Dockerfile.RPi32_stretch
  modules/arm_plugin/dockerfiles/Dockerfile.RPi64_bionic
  modules/arm_plugin/dockerfiles/Dockerfile.RPi64_focal
  modules/arm_plugin/scripts/arm_cpu_plugin_build.sh
  modules/arm_plugin/thirdparty/CMakeLists.txt
Labels: category: build, category: ARM plugin

#450 Fixed typo with OpenCV flags usage
  modules/arm_plugin/scripts/arm_cpu_plugin_build.sh
Labels: category: build

#443 [IE TESTS] Add device suffix
  modules/arm_plugin/tests/functional/shared_tests_instances/set_device_name.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/set_device_name.cpp
Labels: category: ARM plugin, category: CUDA plugin

#441 LPT: changed PrecisionsRestriction creation
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
Labels: category: ARM plugin

#453 Fixing ARM plugin tests
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_cuda.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  README.md
  modules/arm_plugin/demos/coco_detection_android_demo/README.md
  modules/arm_plugin/scripts/arm_cpu_plugin_build.sh
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_infer_request.cpp
  modules/arm_plugin/src/arm_plugin.cpp
  modules/arm_plugin/thirdparty/CMakeLists.txt
  modules/nvidia_plugin/build.sh
Labels: platform: arm, platform: linux

#455 [ARM CPU] Skip EltwiseLayerTests and NmsLayerTest
  modules/arm_plugin/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: ARM plugin

#456 Pass macosx-version-min for native OSX build
  modules/arm_plugin/thirdparty/CMakeLists.txt
Labels: category: build, platform: arm, platform: osx

#460 [NVIDIAPlugin] Removed dependecies on func tests in unit tests
  modules/nvidia_plugin/tests/unit/CMakeLists.txt
  modules/nvidia_plugin/tests/unit/executable_network.cpp
  modules/nvidia_plugin/tests/unit/skip_tests_config.cpp
  modules/nvidia_plugin/tests/unit/test_networks.hpp
Labels: category: CUDA plugin

#461 [Java] Find OpenVINODeveloperPackage optionally
  modules/java_api/CMakeLists.txt
  modules/java_api/tests/compatibility/IECoreTests.java
Labels: category: java API

#457 Use crossenv only for OpenVINO Python API build
  modules/arm_plugin/dockerfiles/Dockerfile.RPi32_buster
  modules/arm_plugin/dockerfiles/Dockerfile.RPi32_stretch
  modules/arm_plugin/dockerfiles/Dockerfile.RPi64_bionic
  modules/arm_plugin/dockerfiles/Dockerfile.RPi64_focal
  modules/arm_plugin/scripts/arm_cpu_plugin_build.sh
Labels: category: build, category: ARM plugin
