Repository openvinotoolkit/openvino_contrib, pull requests merged in 2022-11, with the labels that each got.

#464 [ARM plugin]: build/android - workaround ANDROID_TOOLCHAIN_PREFIX
  modules/arm_plugin/thirdparty/CMakeLists.txt
Labels: platform: android, platform: arm

#463 [ARM plugin] Separate transformation module (for FP16 tests)
  modules/arm_plugin/src/CMakeLists.txt
  modules/arm_plugin/src/transformations/CMakeLists.txt
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/arm_optimizations.hpp
  modules/arm_plugin/src/transformations/conv_bias_fusion.cpp
  modules/arm_plugin/src/transformations/convert_batch_norm.cpp
  modules/arm_plugin/src/transformations/convert_batchnorm_v0_to_v5.cpp
  modules/arm_plugin/src/transformations/convert_ceiling.cpp
  modules/arm_plugin/src/transformations/convert_comparison.cpp
  modules/arm_plugin/src/transformations/convert_concat.cpp
  modules/arm_plugin/src/transformations/convert_conv1d_to_conv2d.cpp
  modules/arm_plugin/src/transformations/convert_convert.cpp
  modules/arm_plugin/src/transformations/convert_grn_to_normalizel2.cpp
  modules/arm_plugin/src/transformations/convert_group_conv.cpp
  modules/arm_plugin/src/transformations/convert_inputs_precision.cpp
  modules/arm_plugin/src/transformations/convert_prelu.cpp
  modules/arm_plugin/src/transformations/convert_strided_slice.cpp
  modules/arm_plugin/src/transformations/convert_strided_slice_arm.cpp
  modules/arm_plugin/src/transformations/convert_tile_to_concats.cpp
  modules/arm_plugin/src/transformations/decompose_mish.cpp
  modules/arm_plugin/src/transformations/decompose_normalizel2_add.cpp
  modules/arm_plugin/src/transformations/decompose_swish.cpp
  modules/arm_plugin/tests/functional/CMakeLists.txt
Labels: category: ARM plugin

#467 Transformations transition to ov namespace
  .gitignore
  modules/arm_plugin/src/arm_plugin.cpp
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/conv_bias_fusion.cpp
  modules/arm_plugin/src/transformations/finalize_trailing_nodes.cpp
  modules/arm_plugin/src/transformations/quantize_fusion.cpp
  modules/arm_plugin/src/transformations/store_result_name.cpp
  modules/nvidia_plugin/src/cuda_executable_network.cpp
  modules/nvidia_plugin/src/cuda_plugin.cpp
  modules/nvidia_plugin/src/ops/result.cpp
  modules/nvidia_plugin/src/transformer/bidirectional_lstm_sequence_composition.cpp
  modules/nvidia_plugin/src/transformer/cuda_graph_transformer.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/mvn.cpp
  modules/nvidia_plugin/tests/functional/transformations/cuda_transformations_test.cpp
Labels: category: ARM plugin, category: CUDA plugin

#470 [ARM Plugin] Fixed handling of negative axes values in MVN
  modules/arm_plugin/src/arm_converter/arm_converter_mvn.cpp
Labels: category: ARM plugin

#465 Rename DisableConvertConstantFoldingOnConstPath to MarkDequantization…
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
Labels: category: ARM plugin

#448 ConvertPrecisionFP16ToFP32 transformation
  modules/arm_plugin/src/CMakeLists.txt
  modules/arm_plugin/src/arm_config.hpp
  modules/arm_plugin/src/opset/CMakeLists.txt
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/convert_precision_fp16_to_fp32.cpp
  modules/arm_plugin/src/transformations/convert_precision_fp16_to_fp32.hpp
  modules/arm_plugin/tests/functional/CMakeLists.txt
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/bucketize.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/skip_tests_config.cpp
  modules/arm_plugin/tests/functional/transformations/convert_precision_fp16_to_fp32.cpp
Labels: category: ARM plugin

#471 Fix tests for FP16 (update skip)
  modules/arm_plugin/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: ARM plugin

#349 [ARM-plugin] support for Interpolate node with 3 inputs
  modules/arm_plugin/src/arm_converter/arm_converter_interpolate.cpp
  modules/arm_plugin/src/transformations/convert_interpolate_arm.cpp
Labels: category: ARM plugin

#474 [ARM CPU plugin] Skip deviceID tests
  modules/arm_plugin/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: ARM plugin

#365 [ARM Plugin] ArmConcat : fixed negative value axis processing
  modules/arm_plugin/src/transformations/convert_concat.cpp
Labels: category: ARM plugin

#473 [ARM plugin]: add 'Slice' implementation
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_slice.cpp
  modules/arm_plugin/src/opset/opset.hpp
  modules/arm_plugin/src/opset/slice_arm.cpp
  modules/arm_plugin/src/opset/slice_arm.hpp
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/convert_slice_arm.cpp
  modules/arm_plugin/src/transformations/convert_slice_arm.hpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/slice.cpp
Labels: category: ARM plugin

#477 [ARM plugin] Fix negativ axis for concat operation
  modules/arm_plugin/src/arm_converter/arm_converter_concat.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/concat.cpp
Labels: category: ARM plugin

#478 [ARM plugin] Add native divide
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_eltwise.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_group_conv_backprop_data.cpp
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/convert_precision_fp16_to_fp32.cpp
Labels: category: ARM plugin

#488 Raise an exception for 3D convolution
  modules/arm_plugin/src/arm_converter/arm_converter_conv.cpp
Labels: category: ARM plugin
