Repository openvinotoolkit/openvino_contrib, pull requests merged in 2022-03, with the labels that each got.

#298 [ARM-plugin] Optimization Linux ARM CI
  .ci/azure/linux_arm64.yml
  modules/arm_plugin/dockerfiles/Dockerfile.RPi32_buster
  modules/arm_plugin/dockerfiles/Dockerfile.RPi32_stretch
  modules/arm_plugin/dockerfiles/Dockerfile.RPi64_bionic
  modules/arm_plugin/dockerfiles/Dockerfile.RPi64_focal
  modules/arm_plugin/scripts/arm_cpu_plugin_build.sh
  modules/arm_plugin/scripts/install_build_dependencies.sh
Labels: category: CI, platform: arm, category: ARM plugin

#333 [ARM Plugin] Update release branch names
  modules/arm_plugin/scripts/arm_cpu_plugin_build.sh
Labels: category: ARM plugin

#334 [ARM Plugin] Build script updates
  modules/arm_plugin/scripts/arm_cpu_plugin_build.sh
Labels: category: ARM plugin

#335 [ARM-plugin] Update dockers
  modules/arm_plugin/dockerfiles/Dockerfile.RPi32_buster
  modules/arm_plugin/dockerfiles/Dockerfile.RPi32_stretch
  modules/arm_plugin/dockerfiles/Dockerfile.RPi64_bionic
  modules/arm_plugin/dockerfiles/Dockerfile.RPi64_focal
Labels: category: ARM plugin

#311 [ARM Plugin] maxpool-v8 transformation
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_pool.cpp
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/convert_maxpool_v8.cpp
  modules/arm_plugin/src/transformations/convert_maxpool_v8.hpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/pooling.cpp
Labels: category: ARM plugin

#329 [ARM Plugin] added softmax-v8 downgrade transformation
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
Labels: category: ARM plugin

#338 [ARM Plugin] maxpool-v8 transformation (#311)
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_pool.cpp
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/convert_maxpool_v8.cpp
  modules/arm_plugin/src/transformations/convert_maxpool_v8.hpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/pooling.cpp
Labels: category: ARM plugin

#348 [Optimum] MBart with cache
  modules/optimum/README.md
  modules/optimum/optimum/intel/openvino/modeling_ov_mbart.py
  modules/optimum/optimum/intel/openvino/modeling_ov_utils.py
  modules/optimum/tests/openvino/test_modeling_ov_auto.py
Labels: category: Optimum plugin

#351 [JAVA] Fixed exception message in tests
  modules/java_api/tests/CoreTests.java
  modules/java_api/tests/compatibility/IECoreTests.java
Labels: category: java API

#352 Reduce MaxPoolV8 to MaxPoolV1 where possible
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
Labels: category: ARM plugin

#358 [ARM-plugin] Update README.md
  modules/arm_plugin/README.md
Labels: category: ARM plugin

#354 [ARM-plugin] detectionOutput-v8 support
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_detection_output.cpp
Labels: category: ARM plugin

#355 Fix audio models to ONNX conversion
  modules/optimum/optimum/intel/openvino/modeling_ov_utils.py
Labels: category: Optimum plugin
