Repository openvinotoolkit/openvino_contrib, pull requests merged in 2022-12, with the labels that each got.

#491 [ARM plugin] Use ov::pass namespace for transforamtions
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/conv_bias_fusion.cpp
  modules/arm_plugin/src/transformations/normalizel2_max_fusion.cpp
  modules/arm_plugin/src/transformations/quantize_fusion.cpp
Labels: category: ARM plugin

#492 [ARM plugin] Fix result shapes calculation in VariadicSplit if split length == -1
  modules/arm_plugin/src/transformations/decompose_variadic_split.cpp
Labels: category: ARM plugin

#490 [ARM plugin] Activation fixes
  modules/arm_plugin/src/arm_converter/arm_converter_activation.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_convert.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_pool.cpp
Labels: category: ARM plugin

#496 [ARM plugin] Update transformation set
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_activation.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_softmax.cpp
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
Labels: category: ARM plugin

#493 [ARM plugin] Fix PRelu broadcast
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/convert_prelu.cpp
  modules/arm_plugin/src/transformations/convert_prelu.hpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/activation.cpp
Labels: category: ARM plugin

#504 Fixed RTTI for custom convolution
  modules/nvidia_plugin/src/transformer/nodes/fused_convolution.cpp
  modules/nvidia_plugin/src/transformer/nodes/fused_convolution.hpp
Labels: category: NVIDIA plugin

#503 [ARM CPU plugin] FP64 support
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter.hpp
  modules/arm_plugin/src/arm_converter/arm_converter_convert.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_convert_like.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/convert.cpp
Labels: category: ARM plugin

#501 [ARM CPU Plugin] Fix Broadcast target shape in comparison converter
  modules/arm_plugin/src/transformations/convert_comparison.cpp
Labels: category: ARM plugin

#506 [ARM CPU plugin] Skip Convert and ConvertLike tests FP16->U32
  modules/arm_plugin/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: ARM plugin

#508 Turned off unnecessary modules in Azure CI
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_coverity_arm64.yml
  .ci/azure/linux_cuda.yml
Labels: category: CI

#519 [ARM CPU plugin] Set branch names in the build script
  modules/arm_plugin/scripts/arm_cpu_plugin_build.sh
Labels: category: ARM plugin

#499 [ARM plugin] MatMul operation: FullyConnected -> GEMM
  modules/arm_plugin/src/arm_converter/arm_converter_mat_mul.cpp
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/convert_mat_mul.cpp
  modules/arm_plugin/src/transformations/convert_transpose_mat_mul.cpp
  modules/arm_plugin/src/transformations/convert_transpose_mat_mul.hpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/mat_mul.cpp
Labels: category: ARM plugin

#521 [ARM plugin] Save Mac artifacts
  .ci/azure/mac.yml
Labels: category: CI, category: ARM plugin

#500 [ARM plugin] Support native RNNCell operation
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_rnn_cell.cpp
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/arm_plugin/src/transformations/convert_rnn_cell.cpp
  modules/arm_plugin/src/transformations/convert_rnn_cell.hpp
Labels: category: ARM plugin

#513 [NVIDIA] Reuse common function for query model
  modules/nvidia_plugin/src/cuda_executable_network.cpp
  modules/nvidia_plugin/src/cuda_plugin.cpp
  modules/nvidia_plugin/src/transformer/cuda_graph_transformer.cpp
  modules/nvidia_plugin/src/transformer/cuda_graph_transformer.hpp
Labels: category: NVIDIA plugin

#524 [ARM plugin] Reuse common function for query model
  modules/arm_plugin/src/arm_plugin.cpp
  modules/arm_plugin/src/arm_plugin.hpp
Labels: category: ARM plugin

#514 [ARM CPU plugin] Fix Coverity issues
  modules/arm_plugin/src/arm_converter/arm_converter_nms.cpp
  modules/arm_plugin/src/transformations/convert_interpolate_arm.cpp
  modules/arm_plugin/src/transformations/decompose_variadic_split.cpp
Labels: category: ARM plugin

#534 Use latest version of github action to prevent warnings
  .github/workflows/code_style.yml
Labels: category: CI, category: java API
