Repository openvinotoolkit/openvino_contrib, pull requests merged in 2022-01, with the labels that each got.

#278 [arm_plugin] remove algebraic_simplification pass because it do nothing
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
Labels: category: ARM plugin

#280 [ARM-plugin] Init Azure CI for OpenVINO Android ARM plugin
  .ci/azure/android_arm64.yml
Labels: category: CI

#281 [ARM-plugin] Fix pipeline for ARM Azure CI
  .ci/azure/android_arm64.yml
  .ci/azure/linux_arm64.yml
Labels: category: CI

#284 [ARM Plugin] added maxPool-8 support
  modules/arm_plugin/docs/arm_opset.md
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_pool.cpp
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/pooling.cpp
Labels: category: ARM plugin

#285 [ARM Plugin] Move opset documentation to wiki
  modules/arm_plugin/README.md
  modules/arm_plugin/docs/arm_opset.md
  modules/arm_plugin/docs/img/object_detection_demo_yolo.gif
  modules/arm_plugin/docs/img/object_detection_sample_ssd.jpg
Labels: category: ARM plugin

#283 Remove check_python_version
  modules/mo_pytorch/mo_pytorch.py
Labels: category: MO pytorch extension

#293 Configure dequantization info for fakeQuantize requantization
  modules/arm_plugin/src/transformations/quantize_fusion.cpp
Labels: category: ARM plugin

#294 [ARM Plugin] Use new OV python bindings location in plugin build script
  modules/arm_plugin/armplg_build.sh
Labels: category: ARM plugin

#297 Fix linux CI (change python dir)
  .ci/azure/linux.yml
Labels: category: CI
