Repository openvinotoolkit/openvino_contrib, pull requests merged in 2023-09, with the labels that each got.

#715 [NVIDIA] Cleanup legacy ExecGraphInfoSerialization::ORIGINAL_NAMES
  modules/nvidia_plugin/src/transformer/concat_transformation.cpp
  modules/nvidia_plugin/src/transformer/fuse_conv_biasadd_activation.cpp
  modules/nvidia_plugin/src/transformer/fuse_matmul_add.cpp
  modules/nvidia_plugin/src/transformer/matmul_transformations.cpp
Labels: category: NVIDIA plugin

#710 [NVIDIA] Add Multi-graph Feature to NVIDIA Plugin
  modules/nvidia_plugin/README.md
  modules/nvidia_plugin/include/nvidia/properties.hpp
  modules/nvidia_plugin/src/cuda/graph.cpp
  modules/nvidia_plugin/src/cuda/graph.hpp
  modules/nvidia_plugin/src/cuda_compiled_model.cpp
  modules/nvidia_plugin/src/cuda_compiled_model.hpp
  modules/nvidia_plugin/src/cuda_eager_topology_runner.hpp
  modules/nvidia_plugin/src/cuda_graph_context.cpp
  modules/nvidia_plugin/src/cuda_graph_context.hpp
  modules/nvidia_plugin/src/cuda_graph_topology_runner.cpp
  modules/nvidia_plugin/src/cuda_graph_topology_runner.hpp
  modules/nvidia_plugin/src/cuda_iexecution_delegator.hpp
  modules/nvidia_plugin/src/cuda_infer_request.cpp
  modules/nvidia_plugin/src/cuda_infer_request.hpp
  modules/nvidia_plugin/src/cuda_inference_request_context.hpp
  modules/nvidia_plugin/src/cuda_itopology_runner.hpp
  modules/nvidia_plugin/src/cuda_perf_counts.hpp
  modules/nvidia_plugin/src/cuda_profiler.cpp
  modules/nvidia_plugin/src/cuda_profiler.hpp
  modules/nvidia_plugin/src/cuda_simple_execution_delegator.hpp
  modules/nvidia_plugin/src/cuda_tensor_mapping_context.hpp
  modules/nvidia_plugin/src/memory_manager/cuda_device_mem_block.hpp
  modules/nvidia_plugin/src/memory_manager/model/cuda_memory_model.hpp
  modules/nvidia_plugin/src/ops/parameter.cpp
  modules/nvidia_plugin/src/ops/result.cpp
  modules/nvidia_plugin/src/ops/subgraph.cpp
  modules/nvidia_plugin/src/ops/subgraph.hpp
  modules/nvidia_plugin/src/ops/tensor_iterator.cpp
  modules/nvidia_plugin/src/ops/tensor_iterator.hpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/activation_slt.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/gather.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/lstm_cell.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/lstm_sequence.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/range.cpp
  modules/nvidia_plugin/tests/unit/concat.cpp
  modules/nvidia_plugin/tests/unit/convert_benchmark.cpp
  modules/nvidia_plugin/tests/unit/cuda_graph_topology_runner_test.cpp
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_test.cpp
  modules/nvidia_plugin/tests/unit/is_cuda_graph_compatible.cpp
  modules/nvidia_plugin/tests/unit/limits.cpp
  modules/nvidia_plugin/tests/unit/logical_not_benchmark.cpp
  modules/nvidia_plugin/tests/unit/parameter.cpp
  modules/nvidia_plugin/tests/unit/pooling_tests.cpp
  modules/nvidia_plugin/tests/unit/relu.cpp
  modules/nvidia_plugin/tests/unit/result.cpp
  modules/nvidia_plugin/tests/unit/select_benchmark.cpp
  modules/nvidia_plugin/tests/unit/sigmoid_benchmark.cpp
  modules/nvidia_plugin/tests/unit/strided_slice_benchmark.cpp
Labels: category: NVIDIA plugin

#717 Update linux_cuda.yml
  .ci/azure/linux_cuda.yml
Labels: category: CI

#703 [NVIDIA] Fix bidirect lstm sequence
  modules/nvidia_plugin/src/ops/interpolate_nearest.cpp
  modules/nvidia_plugin/src/ops/lstm_sequence_base.hpp
  modules/nvidia_plugin/src/ops/lstm_sequence_optimized.cpp
  modules/nvidia_plugin/src/ops/result.cpp
  modules/nvidia_plugin/src/ops/result.hpp
  modules/nvidia_plugin/src/ops/rnn_components/lstm_sequence_components.cpp
  modules/nvidia_plugin/src/ops/rnn_components/lstm_sequence_components.hpp
  modules/nvidia_plugin/src/transformer/bidirectional_lstm_sequence_composition.cpp
  modules/nvidia_plugin/src/transformer/bidirectional_lstm_sequence_composition.hpp
  modules/nvidia_plugin/src/transformer/cuda_graph_transformer.cpp
  modules/nvidia_plugin/src/transformer/cuda_rt_info.hpp
  modules/nvidia_plugin/src/transformer/nodes/lstm_sequence_optimized.cpp
  modules/nvidia_plugin/src/transformer/nodes/lstm_sequence_optimized.hpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/lstm_sequence.cpp
  modules/nvidia_plugin/tests/unit/transformations/bidirectional_lstm_sequence_composition.cpp
Labels: category: NVIDIA plugin

#714 [NVIDIA] Update GroupConvolution tests + small refactoring
  modules/nvidia_plugin/src/ops/convolution_components/convolution_cudnn_components.cpp
  modules/nvidia_plugin/src/ops/convolution_components/convolution_cudnn_components.hpp
  modules/nvidia_plugin/src/ops/fused_convolution.cpp
  modules/nvidia_plugin/src/ops/fused_convolution_cudnn.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_biasadd_activation.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_biasadd_activation.hpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/group_convolution_biasadd_activation.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/group_convolution_biasadd_activation_autogenerated.cpp
  modules/nvidia_plugin/tests/functional/skip_tests_config.cpp
Labels: category: NVIDIA plugin

#723 Suppressed warnings in Java API
  modules/java_api/CMakeLists.txt
Labels: category: build, category: java API

#725 [NVIDIA] cuda 12.2 compatibility fix
  modules/nvidia_plugin/src/cuda/graph.cpp
  modules/nvidia_plugin/src/cuda/graph.hpp
Labels: category: NVIDIA plugin

#727 Check CUDA_VERSION definition
  modules/nvidia_plugin/src/cuda/graph.cpp
  modules/nvidia_plugin/src/cuda/graph.hpp
Labels: category: NVIDIA plugin

#732 [NVIDIA] DetectionOutput fix input types
  modules/nvidia_plugin/src/ops/detection_output.cpp
  modules/nvidia_plugin/src/transformer/cuda_graph_transformer.cpp
  modules/nvidia_plugin/src/transformer/detection_output_fix_input_types_transformation.cpp
  modules/nvidia_plugin/src/transformer/detection_output_fix_input_types_transformation.hpp
  modules/nvidia_plugin/tests/unit/transformations/detection_output_fix_input_types.cpp
Labels: category: NVIDIA plugin
