Repository openvinotoolkit/openvino_contrib, pull requests merged in 2023-04, with the labels that each got.

#637 disable get config test for multi/auto plugin
  modules/arm_plugin/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: ARM plugin

#627 Windows tests for custom operations
  .ci/azure/windows.yml
  modules/custom_operations/user_ie_extensions/CMakeLists.txt
Labels: category: build, category: CI, category: custom operations

#639 [NVIDIA] Fix GetMetric/GetConfig for different device ids
  modules/nvidia_plugin/src/cuda_plugin.cpp
Labels: category: NVIDIA plugin

#638 Fix FindCUDA for windows and cmake <= 3.17
  modules/nvidia_plugin/CMakeLists.txt
Labels: category: build, category: NVIDIA plugin

#646 Use macro for OV Exceptions
  modules/nvidia_plugin/src/transformer/nodes/lstm_sequence_optimized.cpp
Labels: category: NVIDIA plugin

#623 Finalize SentencePiece tokenizer extensions for MUSE
  modules/custom_operations/README.md
  modules/custom_operations/user_ie_extensions/sentence_piece/sentence_piece.cpp
  modules/custom_operations/user_ie_extensions/sentence_piece/sentence_piece.hpp
Labels: category: custom operations
