Repository openvinotoolkit/openvino_contrib, pull requests merged in 2023-11, with the labels that each got.

#756 [CUSTOM_OP] Fixed module build without ov build, updated torch version
  modules/custom_operations/README.md
  modules/custom_operations/tests/requirements.txt
  modules/custom_operations/user_ie_extensions/CMakeLists.txt
  modules/java_api/CMakeLists.txt
  modules/java_api/build.gradle
  modules/java_api/src/test/java/org/intel/openvino/PrePostProcessorTests.java
Labels: category: build, category: java API, dependencies, category: custom operations

#764 Disable `smoke_FloorMod` on `u` types
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/eltwise_test.cpp
Labels: category: NVIDIA plugin

#760 `Ngraph::helpers` cleanup
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/activation.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/activation_slt.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/comparison.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_backprop_data.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_backprop_data_add.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_biasadd_activation.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_biasadd_activation.hpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/cuda_eltwise.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/eltwise_test.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/fully_connected.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/clamp.cpp.jinja2
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/clamp.py
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/convolution_biasadd_activation.cpp.jinja2
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/convolution_biasadd_activation.py
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/group_convolution_biasadd_activation.cpp.jinja2
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/group_convolution_biasadd_activation.py
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/mat_mul.py
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/relu.cpp.jinja2
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/sigmoid.cpp.jinja2
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/swish.cpp.jinja2
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/group_convolution_biasadd_activation.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/group_convolution_biasadd_activation_autogenerated.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/gru_cell.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/gru_sequence.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/lstm_cell.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/lstm_sequence.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/mat_mul.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/minimum_maximum.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/pad_test.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/pooling.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/reduce.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/squeeze_unsqueeze.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/tensor_iterator.cpp
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_test.cpp
Labels: category: NVIDIA plugin

#765 Fix links to examples in README
  modules/custom_operations/README.md
Labels: category: custom operations

#766 Change threading related interface from API 1.0 to 2.0
  modules/nvidia_plugin/src/cuda_compiled_model.cpp
  modules/nvidia_plugin/src/cuda_config.hpp
  modules/nvidia_plugin/src/cuda_infer_request.cpp
  modules/nvidia_plugin/src/cuda_plugin.cpp
  modules/nvidia_plugin/src/cuda_thread_pool.hpp
Labels: category: NVIDIA plugin

#768 [JAVA_API] fix test
  modules/java_api/src/test/java/org/intel/openvino/PrePostProcessorTests.java
Labels: category: java API

#730 [NVIDIA] Moved MemorySolver to API 2.0
  modules/nvidia_plugin/src/memory_manager/model/cuda_memory_model_builder.cpp
  modules/nvidia_plugin/src/memory_manager/model/cuda_memory_model_builder.hpp
Labels: category: NVIDIA plugin
