Repository openvinotoolkit/openvino_contrib, pull requests merged in 2023-10, with the labels that each got.

#731 Model builders refactoring: rename dirs, targets, file names
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/plugin/synthetic.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_backprop_data.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_backprop_data_add.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_biasadd_activation.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_biasadd_activation.hpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/cuda_eltwise.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/eltwise_test.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/group_convolution_backprop_data.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/group_convolution_biasadd_activation.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/group_convolution_biasadd_activation_autogenerated.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/range.cpp
  modules/nvidia_plugin/tests/unit/CMakeLists.txt
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_test.cpp
Labels: category: build, category: NVIDIA plugin

#737 [NVIDIA] Move Transpose, VeriadicSplit layer tests to API 2.0
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/transpose_test.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/variadic_split.cpp
Labels: category: NVIDIA plugin

#740 [NVIDIA] Support of CUDA 12
  modules/nvidia_plugin/src/cuda/float16.hpp
Labels: category: NVIDIA plugin

#739 [NVIDIA] Add additional paths for cuTensor library
  modules/nvidia_plugin/CMakeLists.txt
Labels: category: build, category: NVIDIA plugin

#744 Fixed compilation when building out of OV build tree
  modules/nvidia_plugin/CMakeLists.txt
  modules/nvidia_plugin/src/CMakeLists.txt
  modules/nvidia_plugin/tests/functional/CMakeLists.txt
Labels: category: build, category: NVIDIA plugin

#738 [NVIDIA] Move Logical layer test to API 2.0
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/logical_test.cpp
Labels: category: NVIDIA plugin

#736 [NVIDIA] Move Convert, ConvertColorI420, ConvertColorNV12 tests to API2.0
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convert.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convert_color_common.hpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convert_color_i420.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convert_color_nv12.cpp
Labels: category: NVIDIA plugin

#745 [NVIDIA] Fix Unit Tests
  modules/nvidia_plugin/tests/unit/compile_model.cpp
  modules/nvidia_plugin/tests/unit/memory_manager/cuda_immutable_memory_block_builder_test.cpp
  modules/nvidia_plugin/tests/unit/memory_manager/cuda_memory_manager_test.cpp
  modules/nvidia_plugin/tests/unit/memory_manager/model/cuda_immutable_memory_model_builder_test.cpp
  modules/nvidia_plugin/tests/unit/memory_manager/model/cuda_memory_model_builder_test.cpp
Labels: category: NVIDIA plugin

#747 [NVIDIA] Move Convolution and GroupConvolution layer tests to API 2.0
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_asym_pad.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/group_convolution.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/group_convolution_autogenerated.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/ov_average_finder.hpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/ov_finite_comparer.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/ov_finite_comparer.hpp
Labels: category: NVIDIA plugin

#748 [VSCode Extension] Add missing files & Configure CI
  .ci/azure/linux.yml
  .ci/azure/linux_cuda.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  .github/workflows/openvino_code.yml
  .github/workflows/token_merging.yml
  modules/openvino_code/.gitignore
  modules/openvino_code/media/logo.png
  modules/openvino_code/media/sidebar-icon.png
  modules/openvino_code/src/inline-completion/inline-completion-component.ts
  modules/openvino_code/src/inline-completion/streaming-command-inline-completion-provider.ts
  modules/openvino_code/src/inline-completion/streaming-inline-completion-component.ts
  modules/openvino_code/src/services/request/index.ts
  modules/openvino_code/src/services/request/streaming-request.ts
Labels: category: CI

#741 [VSCode Extension] Generation requests cache is persisted after server restart
  modules/openvino_code/src/lru-cache.decorator.ts
  modules/openvino_code/src/python-server/python-server-runner.ts
Labels: bug
