Repository openvinotoolkit/openvino_contrib, pull requests merged in 2023-07, with the labels that each got.

#674 [NVIDIA] FP16 Test Fixes
  modules/nvidia_plugin/src/transformer/cuda_graph_transformer.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/infer_request/infer_request.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/gru_cell.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/lstm_cell.cpp
  modules/nvidia_plugin/tests/functional/skip_tests_config.cpp
  modules/nvidia_plugin/tests/unit/transformations/cuda_transformations_test.cpp
Labels: category: NVIDIA plugin

#661 [NVIDIA] Enable CPack artifacts
  modules/nvidia_plugin/src/CMakeLists.txt
Labels: category: build, category: NVIDIA plugin, do not merge

#672 Enable NVIDIA Plugin under proxy
  modules/nvidia_plugin/src/CMakeLists.txt
  modules/nvidia_plugin/tests/functional/CMakeLists.txt
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/plugin/core_integration.cpp
Labels: category: build, category: NVIDIA plugin

#671 [NVIDIA] Basic CUDA graph integration feature
  modules/nvidia_plugin/src/cuda/event.hpp
  modules/nvidia_plugin/src/cuda/graph.cpp
  modules/nvidia_plugin/src/cuda/graph.hpp
  modules/nvidia_plugin/src/cuda_compiled_model.cpp
  modules/nvidia_plugin/src/cuda_compiled_model.hpp
  modules/nvidia_plugin/src/cuda_eager_topology_runner.cpp
  modules/nvidia_plugin/src/cuda_eager_topology_runner.hpp
  modules/nvidia_plugin/src/cuda_graph.cpp
  modules/nvidia_plugin/src/cuda_graph.hpp
  modules/nvidia_plugin/src/cuda_graph_context.hpp
  modules/nvidia_plugin/src/cuda_graph_topology_runner.cpp
  modules/nvidia_plugin/src/cuda_graph_topology_runner.hpp
  modules/nvidia_plugin/src/cuda_infer_request.cpp
  modules/nvidia_plugin/src/cuda_infer_request.hpp
  modules/nvidia_plugin/src/cuda_inference_request_context.hpp
  modules/nvidia_plugin/src/cuda_operation_base.hpp
  modules/nvidia_plugin/src/cuda_profiler.hpp
  modules/nvidia_plugin/src/memory_manager/cuda_device_mem_block.hpp
  modules/nvidia_plugin/src/ops/parameter.cpp
  modules/nvidia_plugin/src/ops/parameter.hpp
  modules/nvidia_plugin/src/ops/result.cpp
  modules/nvidia_plugin/src/ops/result.hpp
  modules/nvidia_plugin/src/ops/subgraph.cpp
  modules/nvidia_plugin/src/ops/subgraph.hpp
  modules/nvidia_plugin/src/utils/perf_timing.hpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/activation_slt.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/gather.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/lstm_cell.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/range.cpp
  modules/nvidia_plugin/tests/unit/concat.cpp
  modules/nvidia_plugin/tests/unit/convert_benchmark.cpp
  modules/nvidia_plugin/tests/unit/cuda/wrappers/graph.cpp
  modules/nvidia_plugin/tests/unit/cuda_graph_topology_runner_test.cpp
  modules/nvidia_plugin/tests/unit/executable_network.cpp
  modules/nvidia_plugin/tests/unit/is_cuda_graph_compatible.cpp
  modules/nvidia_plugin/tests/unit/limits.cpp
  modules/nvidia_plugin/tests/unit/logical_not_benchmark.cpp
  modules/nvidia_plugin/tests/unit/parameter.cpp
  modules/nvidia_plugin/tests/unit/pooling_tests.cpp
  modules/nvidia_plugin/tests/unit/relu.cpp
  modules/nvidia_plugin/tests/unit/result.cpp
  modules/nvidia_plugin/tests/unit/select_benchmark.cpp
  modules/nvidia_plugin/tests/unit/sigmoid_benchmark.cpp
  modules/nvidia_plugin/tests/unit/strided_slice_benchmark.cpp
Labels: category: NVIDIA plugin

#664 [NVIDIA] Switch inference precision to f16 by default
  modules/nvidia_plugin/src/cuda_config.cpp
  modules/nvidia_plugin/src/cuda_plugin.cpp
  modules/nvidia_plugin/src/transformer/cuda_graph_transformer.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/infer_request/infer_request.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/ov_executable_network/properties.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
  modules/nvidia_plugin/tests/unit/executable_network.cpp
Labels: category: NVIDIA plugin

#679 [NVIDIA] Support internal properties. Handle config device id
  modules/nvidia_plugin/src/cuda_config.cpp
  modules/nvidia_plugin/src/cuda_config.hpp
  modules/nvidia_plugin/src/cuda_plugin.cpp
Labels: category: NVIDIA plugin

#682 Changed API in NVIDIA plugin
  modules/nvidia_plugin/src/cuda_infer_request.cpp
  modules/nvidia_plugin/src/cuda_infer_request.hpp
  modules/nvidia_plugin/src/cuda_plugin.cpp
  modules/nvidia_plugin/src/cuda_plugin.hpp
Labels: category: NVIDIA plugin

#684 [NVIDIA] Rename test binaries
  .ci/azure/linux_cuda.yml
  .github/workflows/sanitizer_cuda.yml
  .github/workflows/test_cuda.yml
  modules/nvidia_plugin/build.sh
  modules/nvidia_plugin/tests/functional/CMakeLists.txt
  modules/nvidia_plugin/tests/unit/CMakeLists.txt
  modules/nvidia_plugin/utils/lsan-suppressions.txt
  modules/nvidia_plugin/utils/pre-push-impl.sh
Labels: category: build, category: CI, category: NVIDIA plugin, do not merge

#640 [JAVA API] read_model for onnx test
  modules/java_api/src/test/java/org/intel/openvino/CoreTests.java
  modules/java_api/src/test/java/org/intel/openvino/OVTest.java
Labels: category: java API

#689 [NVIDIA] Enable `use_cuda_graph` as default option for plugin
  modules/nvidia_plugin/README.md
  modules/nvidia_plugin/include/nvidia/properties.hpp
  modules/nvidia_plugin/src/cuda_compiled_model.cpp
  modules/nvidia_plugin/src/cuda_config.cpp
  modules/nvidia_plugin/src/cuda_config.hpp
  modules/nvidia_plugin/src/ops/tensor_iterator.cpp
  modules/nvidia_plugin/src/ops/tensor_iterator.hpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/ov_executable_network/properties.cpp
Labels: category: NVIDIA plugin

#678 Adjust RNN tests to changes in openvinotoolkit/openvino#18138
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/gru_cell.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/gru_sequence.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/lstm_cell.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/lstm_sequence.cpp
Labels: category: NVIDIA plugin

#690 [NVIDIA] Adds tests for fuse matmul with add transformation. Fix bug.
  modules/nvidia_plugin/src/transformer/cuda_fullyconnected_transformation.cpp
  modules/nvidia_plugin/src/transformer/cuda_graph_transformer.cpp
  modules/nvidia_plugin/src/transformer/fuse_matmul_add.cpp
  modules/nvidia_plugin/src/transformer/fuse_matmul_add.hpp
  modules/nvidia_plugin/tests/unit/transformations/fuse_matmul_add.cpp
Labels: category: NVIDIA plugin

#691 [NVIDIA] Support ov::internal::exclusive_async_requests property
  modules/nvidia_plugin/src/cuda_compiled_model.cpp
  modules/nvidia_plugin/src/cuda_config.cpp
  modules/nvidia_plugin/src/cuda_config.hpp
  modules/nvidia_plugin/tests/unit/executable_network.cpp
Labels: category: NVIDIA plugin

#694 [NVIDIA] Fix Gather behavior with out of range indices to be consistent with Gather v8 requirements
  modules/nvidia_plugin/src/kernels/gather.cu
  modules/nvidia_plugin/src/kernels/gather.hpp
  modules/nvidia_plugin/src/ops/gather.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/gather.cpp
Labels: category: NVIDIA plugin

#693 [NVIDIA] Fix for windows debug build
  modules/nvidia_plugin/CMakeLists.txt
Labels: category: build, category: NVIDIA plugin

#697 [NVIDIA] Update skip tests config
  modules/nvidia_plugin/tests/functional/skip_tests_config.cpp
Labels: category: NVIDIA plugin
