Repository openvinotoolkit/openvino_contrib, pull requests merged in 2023-05, with the labels that each got.

#649 [CUSTOM_OP][JAVA_API] fix bandit issues
  modules/custom_operations/tests/run_tests.py
  modules/java_api/docs/conf.py
Labels: category: java API, category: custom operations

#645 Windows Build Fixes
  modules/nvidia_plugin/src/cuda/math.cuh
  modules/nvidia_plugin/tests/unit/CMakeLists.txt
  modules/nvidia_plugin/tests/unit/convert_benchmark.cpp
Labels: category: build, category: NVIDIA plugin

#648 Add 'USE_CUDA_GRAPH' Configuration Option
  modules/nvidia_plugin/include/nvidia/properties.hpp
  modules/nvidia_plugin/src/cuda_config.cpp
  modules/nvidia_plugin/src/cuda_config.hpp
  modules/nvidia_plugin/src/cuda_executable_network.cpp
  modules/nvidia_plugin/src/cuda_executable_network.hpp
  modules/nvidia_plugin/src/cuda_graph.cpp
  modules/nvidia_plugin/src/cuda_graph.hpp
  modules/nvidia_plugin/src/cuda_infer_request.cpp
  modules/nvidia_plugin/src/cuda_infer_request.hpp
  modules/nvidia_plugin/src/cuda_inference_request_context.hpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/activation_slt.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/gather.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/lstm_cell.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/range.cpp
  modules/nvidia_plugin/tests/unit/concat.cpp
  modules/nvidia_plugin/tests/unit/convert_benchmark.cpp
  modules/nvidia_plugin/tests/unit/limits.cpp
  modules/nvidia_plugin/tests/unit/logical_not_benchmark.cpp
  modules/nvidia_plugin/tests/unit/parameter.cpp
  modules/nvidia_plugin/tests/unit/pooling_tests.cpp
  modules/nvidia_plugin/tests/unit/relu.cpp
  modules/nvidia_plugin/tests/unit/result.cpp
  modules/nvidia_plugin/tests/unit/select_benchmark.cpp
  modules/nvidia_plugin/tests/unit/sigmoid_benchmark.cpp
  modules/nvidia_plugin/tests/unit/strided_slice_benchmark.cpp
Labels: category: NVIDIA plugin

#654 [NVIDIA] Revert disabling some tests due to cuda version update
  modules/nvidia_plugin/tests/functional/skip_tests_config.cpp
Labels: category: NVIDIA plugin

#652 [NVIDIA] CUDA version update
  modules/nvidia_plugin/Dockerfile
  modules/nvidia_plugin/README.md
Labels: category: NVIDIA plugin

#651 [NVIDIA] Fix bandit warnings, update release tags
  modules/nvidia_plugin/README.md
  modules/nvidia_plugin/build.sh
  modules/nvidia_plugin/docker.sh
  modules/nvidia_plugin/wheel/openvino_nvidia/__init__.py
  modules/nvidia_plugin/wheel/requirements-dev.txt
  modules/nvidia_plugin/wheel/requirements.txt
  modules/nvidia_plugin/wheel/setup.py
Labels: category: NVIDIA plugin, dependencies

#657 [NVIDIA] CUDA Graph API C++ wrappers
  modules/nvidia_plugin/src/cuda/event.hpp
  modules/nvidia_plugin/src/cuda/graph.cpp
  modules/nvidia_plugin/src/cuda/graph.hpp
  modules/nvidia_plugin/tests/unit/cuda/wrappers/graph.cpp
  modules/nvidia_plugin/tests/unit/cuda/wrappers/graph.cu
  modules/nvidia_plugin/tests/unit/cuda/wrappers/graph.cuh
Labels: category: NVIDIA plugin
