Repository openvinotoolkit/openvino_contrib, pull requests merged in 2023-01, with the labels that each got.

#536 Properly pass compiler for cross-compilation on macOS for RaspPI
  modules/arm_plugin/thirdparty/CMakeLists.txt
Labels: category: build, platform: arm, platform: linux, platform: osx, category: ARM plugin

#537 Added labeler workflow
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: category: CI

#538 Auto-apply java code style
  .github/workflows/code_style.yml
Labels: category: CI

#539 [ARM plugin] Enable skip tests after updates
  modules/arm_plugin/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: ARM plugin

#540 Fixed arm plugin compilation with OpenVINO static
  modules/arm_plugin/src/opset/CMakeLists.txt
  modules/arm_plugin/src/transformations/CMakeLists.txt
Labels: category: build, category: ARM plugin

#541 'History CUDA' workflow update with github runner specific
  .github/workflows/history_cuda.yml
Labels: category: CI

#545 Compilation of ARM CPU plugin together with Intel CPU
  .github/labeler.yml
  modules/arm_plugin/src/CMakeLists.txt
  modules/arm_plugin/thirdparty/CMakeLists.txt
Labels: category: build, category: CI, category: ARM plugin, dependencies

#547 Fixed cross-compilation from non-Linux platforms
  modules/arm_plugin/thirdparty/CMakeLists.txt
Labels: category: build, category: ARM plugin

#546 [ARM plugin] Fix warnings: deprecated functions
  modules/arm_plugin/src/arm_converter/arm_converter_interpolate.cpp
  modules/arm_plugin/src/opset/interpolate_arm.cpp
  modules/arm_plugin/src/opset/interpolate_arm.hpp
Labels: category: ARM plugin

#553 Fixed arm plugin compilation with OpenVINO static (#540)
  modules/arm_plugin/src/opset/CMakeLists.txt
  modules/arm_plugin/src/transformations/CMakeLists.txt
Labels: category: build, platform: arm

#554 Fixed CI Azure Pipelines
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_coverity_arm64.yml
  .ci/azure/windows.yml
Labels: category: CI

#533 Updated requirements.txt files to avoid vulnerabilities
  modules/mo_pytorch/test/requirements.txt
Labels: category: MO pytorch extension, dependencies

#555 [ARM Plugin] Fix DecomposeVariadicSplit transformation if input node has more than 1 output
  modules/arm_plugin/src/transformations/decompose_variadic_split.cpp
Labels: category: ARM plugin

#550 [ARM plugin] Use ov::op::util
  modules/arm_plugin/src/transformations/convert_rnn_cell.cpp
Labels: category: ARM plugin

#552 Update cuda license
  modules/nvidia_plugin/README.md
  third-party-programs.txt
Labels: category: NVIDIA plugin

#531 Add transformation that converts layout from NCHW to NHWC
  modules/arm_plugin/CMakeLists.txt
  modules/arm_plugin/src/CMakeLists.txt
  modules/arm_plugin/src/opset/conv_arm.cpp
  modules/arm_plugin/src/opset/conv_arm.hpp
  modules/arm_plugin/src/opset/pool_arm.cpp
  modules/arm_plugin/src/opset/pool_arm.hpp
  modules/arm_plugin/src/transformations/convert_layout.cpp
  modules/arm_plugin/src/transformations/convert_layout.hpp
  modules/arm_plugin/tests/functional/transformations/convert_layout.cpp
Labels: category: build, category: ARM plugin

#558 [ARM Plugin] Fix DecomposeVariadicSplit transformation if input node has more than 1 output
  modules/arm_plugin/src/transformations/decompose_variadic_split.cpp
Labels: category: ARM plugin

#557 DepthToSpace ref implementation
  modules/arm_plugin/src/arm_converter/arm_converter_depth_to_space.cpp
Labels: category: ARM plugin

#551 [ARM plugin] U64 and bfloat16 support for reference ops
  modules/arm_plugin/src/arm_converter/arm_converter.hpp
  modules/arm_plugin/src/arm_converter/arm_converter_concat.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_convert.cpp
Labels: category: ARM plugin, do not merge

#489 [ARM plugin] Add external neon kernels
  modules/arm_plugin/src/CMakeLists.txt
  modules/arm_plugin/src/arm_converter/arm_converter_arithmetic_unary.cpp
  modules/arm_plugin/third-party-programs.txt
  modules/arm_plugin/thirdparty/CMakeLists.txt
  modules/arm_plugin/thirdparty/external_kernels/CMakeLists.txt
  modules/arm_plugin/thirdparty/external_kernels/README.md
  modules/arm_plugin/thirdparty/external_kernels/ncnn/neon_mathfun.h
  third-party-programs.txt
Labels: category: build, category: ARM plugin, dependencies

#563 [NVIDIA] Add dynamic tests to skip config
  modules/nvidia_plugin/tests/functional/skip_tests_config.cpp
Labels: category: NVIDIA plugin

#565 [ARM plugin] U64 and bfloat16 support for reference ops
  modules/arm_plugin/src/arm_converter/arm_converter.hpp
  modules/arm_plugin/src/arm_converter/arm_converter_concat.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_convert.cpp
Labels: category: ARM plugin

#567 [ARM Plugin] Raise user friendly error that dynamic shapes are not supported
  modules/arm_plugin/src/arm_plugin.cpp
Labels: category: ARM plugin

#568 [ARM plugin] delete argument types verification for reference ops
  modules/arm_plugin/src/arm_converter/arm_converter.hpp
Labels: category: ARM plugin

#572 Removed MO PyTorch module
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_coverity_arm64.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  .github/CODEOWNERS
  .github/labeler.yml
  README.md
  modules/mo_pytorch/.gitignore
  modules/mo_pytorch/README.md
  modules/mo_pytorch/mo_extensions/__init__.py
  modules/mo_pytorch/mo_extensions/front/__init__.py
  modules/mo_pytorch/mo_extensions/front/pytorch/__init__.py
  modules/mo_pytorch/mo_extensions/front/pytorch/activation_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/batchnorm.py
  modules/mo_pytorch/mo_extensions/front/pytorch/common.py
  modules/mo_pytorch/mo_extensions/front/pytorch/concat_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/const_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/conv_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/detection_output_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/dropout_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/elementwise_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/embedding_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/fft.py
  modules/mo_pytorch/mo_extensions/front/pytorch/flatten_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/instance_norm.py
  modules/mo_pytorch/mo_extensions/front/pytorch/interpolate.py
  modules/mo_pytorch/mo_extensions/front/pytorch/linear.py
  modules/mo_pytorch/mo_extensions/front/pytorch/nonzero_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/padding.py
  modules/mo_pytorch/mo_extensions/front/pytorch/parameter_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/pooling_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/reduce.py
  modules/mo_pytorch/mo_extensions/front/pytorch/reshape_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/roi_align_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/scatter_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/slice_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/softmax_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/split_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/stack_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/topk_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/transpose_ext.py
  modules/mo_pytorch/mo_extensions/front/pytorch/unsqueeze.py
  modules/mo_pytorch/mo_extensions/load/__init__.py
  modules/mo_pytorch/mo_extensions/load/pytorch/detectron2/retinanet.py
  modules/mo_pytorch/mo_extensions/load/pytorch/hooks.py
  modules/mo_pytorch/mo_extensions/load/pytorch/loader.py
  modules/mo_pytorch/mo_extensions/load/pytorch/mask_rcnn/mask_rcnn.py
  modules/mo_pytorch/mo_extensions/load/pytorch/model_hooks.py
  modules/mo_pytorch/mo_extensions/load/pytorch/usrnet/usrnet.py
  modules/mo_pytorch/mo_pytorch.py
  modules/mo_pytorch/samples/mask_rcnn.py
  modules/mo_pytorch/setup.py
  modules/mo_pytorch/test/requirements.txt
  modules/mo_pytorch/test/run_tests.py
Labels: category: CI, category: MO pytorch extension, dependencies

#573 [ARM CPU plugin] Delete unused variables in MakeArgument
  modules/arm_plugin/src/arm_converter/arm_converter.hpp
Labels: category: ARM plugin

#571 Don't instantiate legacy test
  modules/arm_plugin/tests/functional/shared_tests_instances/subgraph_tests/conv_eltwise_fusion.cpp
Labels: category: ARM plugin

#576 Fixed several shellcheck issues in bash script
  modules/arm_plugin/scripts/install_build_dependencies.sh
Labels: category: ARM plugin

#574 [ARM CPU plugin] disable TBB
  modules/arm_plugin/src/arm_plugin.cpp
Labels: category: ARM plugin

#577 [NVIDIA] Disable some tests to pass CI
  modules/nvidia_plugin/tests/functional/skip_tests_config.cpp
Labels: category: NVIDIA plugin

#564 [NVIDIA]: return device architecture
  modules/nvidia_plugin/src/cuda_plugin.cpp
Labels: category: NVIDIA plugin

#578 Replace link to Java docs
  modules/java_api/README.md
Labels: category: java API

#481 OpenVINO CPU extensions: custom operations support
  .ci/azure/linux.yml
  .ci/azure/windows.yml
  README.md
  modules/custom_operations/CMakeLists.txt
  modules/custom_operations/README.md
  modules/custom_operations/examples/calculate_grid/calculate_grid.py
  modules/custom_operations/examples/calculate_grid/export_model.py
  modules/custom_operations/examples/complex_mul/complex_mul.py
  modules/custom_operations/examples/complex_mul/export_model.py
  modules/custom_operations/examples/fft/export_model.py
  modules/custom_operations/examples/fft/fft.py
  modules/custom_operations/examples/sparse_conv/export_model.py
  modules/custom_operations/examples/sparse_conv/sparse_conv.py
  modules/custom_operations/tests/requirements.txt
  modules/custom_operations/tests/run_tests.py
  modules/custom_operations/user_ie_extensions/CMakeLists.txt
  modules/custom_operations/user_ie_extensions/calculate_grid.cpp
  modules/custom_operations/user_ie_extensions/calculate_grid.hpp
  modules/custom_operations/user_ie_extensions/complex_mul.cpp
  modules/custom_operations/user_ie_extensions/complex_mul.hpp
  modules/custom_operations/user_ie_extensions/fft.cpp
  modules/custom_operations/user_ie_extensions/fft.hpp
  modules/custom_operations/user_ie_extensions/grid_sample.cpp
  modules/custom_operations/user_ie_extensions/grid_sample.hpp
  modules/custom_operations/user_ie_extensions/ov_extension.cpp
  modules/custom_operations/user_ie_extensions/sparse_conv.cpp
  modules/custom_operations/user_ie_extensions/sparse_conv.hpp
  modules/custom_operations/user_ie_extensions/sparse_conv_transpose.cpp
  modules/custom_operations/user_ie_extensions/sparse_conv_transpose.hpp
  third-party-programs.txt
Labels: category: build, category: CI, dependencies, category: custom operations
