Repository openvinotoolkit/openvino_contrib, pull requests merged in 2023-12, with the labels that each got.

#771 `ngraph::opset` -> `ov::opset`
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_backprop_data.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_backprop_data_add.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_biasadd_activation.hpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/fully_connected.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/gru_cell.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/gru_sequence.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/lstm_cell.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/lstm_sequence.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/topk.cpp
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_test.cpp
Labels: category: NVIDIA plugin

#770 Tokenizers packaging
  .ci/azure/linux.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  modules/custom_operations/pyproject.toml
  modules/custom_operations/user_ie_extensions/CMakeLists.txt
  modules/custom_operations/user_ie_extensions/tokenizer/CMakeLists.txt
  modules/custom_operations/user_ie_extensions/tokenizer/python/ov_tokenizer/__init__.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/ov_tokenizer/hf_parser.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/ov_tokenizer/tokenizer_pipeline.py
Labels: category: build, category: CI, category: custom operations

#772 Fix Windows warnings
  modules/custom_operations/user_ie_extensions/include/openvino_extensions/strings.hpp
Labels: category: custom operations

#773 [Tokenizers] Add Test Report
  modules/custom_operations/pyproject.toml
  modules/custom_operations/user_ie_extensions/tokenizer/python/README.md
  modules/custom_operations/user_ie_extensions/tokenizer/python/ov_tokenizer/__init__.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/ov_tokenizer/hf_parser.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/ov_tokenizer/tokenizer_pipeline.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/conftest.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/pass_rates.json
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/tokenizers_test.py
Labels: category: custom operations

#775 OpenVINO `tests/ov_helpers` leftovers
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/interpolate.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/range.cpp
Labels: category: NVIDIA plugin

#777 [Tokenizers] Revise Parameters
  modules/custom_operations/user_ie_extensions/tokenizer/python/README.md
  modules/custom_operations/user_ie_extensions/tokenizer/python/ov_tokenizer/__init__.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/ov_tokenizer/convert_tokenizer.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/ov_tokenizer/hf_parser.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/ov_tokenizer/node_factory.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/tokenizers_test.py
Labels: category: custom operations

#778 [Tokenizer] Fix Windows Related Bugs
  modules/custom_operations/user_ie_extensions/tokenizer/python/ov_tokenizer/hf_parser.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/ov_tokenizer/tokenizer_pipeline.py
Labels: category: custom operations

#776 [Tokenizers] package metadata and minor fixes
  .ci/azure/linux.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  modules/custom_operations/pyproject.toml
  modules/custom_operations/user_ie_extensions/CMakeLists.txt
  modules/custom_operations/user_ie_extensions/tokenizer/python/README.md
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__init__.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/constants.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/convert_tokenizer.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/hf_parser.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/str_pack.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/tiktoken_parser.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/tokenizer_pipeline.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/utils.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/tokenizers_test.py
Labels: category: build, category: CI, category: custom operations

#782 [Tokenizers] Added support for conda-forge, archive installations
  modules/custom_operations/pyproject.toml
  modules/custom_operations/user_ie_extensions/CMakeLists.txt
  modules/custom_operations/user_ie_extensions/tokenizer/CMakeLists.txt
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__init__.py
Labels: category: build, category: custom operations

#709 [JAVA_API][GSOC] Add Java API bindings
  modules/java_api/gradle.properties
  modules/java_api/samples/README.md
  modules/java_api/samples/hello_query_device/build.gradle
  modules/java_api/samples/hello_query_device/settings.gradle
  modules/java_api/samples/hello_query_device/src/main/java/Main.java
  modules/java_api/settings.gradle
  modules/java_api/src/main/cpp/any.cpp
  modules/java_api/src/main/cpp/compiled_model.cpp
  modules/java_api/src/main/cpp/core.cpp
  modules/java_api/src/main/cpp/infer_request.cpp
  modules/java_api/src/main/cpp/jni_common.hpp
  modules/java_api/src/main/cpp/openvino.cpp
  modules/java_api/src/main/cpp/openvino_java.hpp
  modules/java_api/src/main/cpp/output.cpp
  modules/java_api/src/main/cpp/tensor.cpp
  modules/java_api/src/main/java/org/intel/openvino/Any.java
  modules/java_api/src/main/java/org/intel/openvino/CompiledModel.java
  modules/java_api/src/main/java/org/intel/openvino/Core.java
  modules/java_api/src/main/java/org/intel/openvino/InferRequest.java
  modules/java_api/src/main/java/org/intel/openvino/Openvino.java
  modules/java_api/src/main/java/org/intel/openvino/Output.java
  modules/java_api/src/main/java/org/intel/openvino/Tensor.java
  modules/java_api/src/test/java/org/intel/openvino/CompiledModelTests.java
  modules/java_api/src/test/java/org/intel/openvino/CoreTests.java
  modules/java_api/src/test/java/org/intel/openvino/ModelTests.java
  modules/java_api/src/test/java/org/intel/openvino/OpenvinoTests.java
  modules/java_api/src/test/java/org/intel/openvino/TensorTests.java
Labels: category: java API

#785 [Tokenizers] Add Bandit Check
  .ci/azure/linux.yml
  modules/custom_operations/pyproject.toml
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/constants.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/convert_tokenizer.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/hf_parser.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/tiktoken_parser.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/tokenizer_pipeline.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/pass_rates.json
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/tokenizers_test.py
Labels: category: CI, category: custom operations

#784 [Tokenizers] Added LC_RPATH to additionally point to openvino's libs
  .ci/azure/linux.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  modules/custom_operations/user_ie_extensions/CMakeLists.txt
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__init__.py
Labels: category: build, category: CI, category: custom operations

#783 [Tokenizers] Add LICENSE to OpenVINO Tokenizers
  modules/custom_operations/LICENSE
  modules/custom_operations/SECURITY.md
  modules/custom_operations/pyproject.toml
  modules/custom_operations/readme.txt
  modules/custom_operations/third-party-programs.txt
Labels: category: custom operations

#788 [TOKENIZERS] Support of conda pip install
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__init__.py
Labels: category: custom operations

#789 [TOKENIZERS] Set CMAKE_INSTALL_LIBDIR path
  modules/custom_operations/pyproject.toml
Labels: category: custom operations

#791 [TOKENIZERS] Set cmake project version
  modules/custom_operations/CMakeLists.txt
  modules/custom_operations/user_ie_extensions/tokenizer/CMakeLists.txt
Labels: category: build, category: custom operations

#781 [Tokenizers] String type support in Tokenizers
  modules/custom_operations/user_ie_extensions/tokenizer/python/README.md
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/hf_parser.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/tokenizer_pipeline.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/tokenizers_test.py
  modules/custom_operations/user_ie_extensions/tokenizer/sentence_piece.cpp
  modules/custom_operations/user_ie_extensions/tokenizer/string_tensor_pack.cpp
  modules/custom_operations/user_ie_extensions/tokenizer/string_tensor_pack.hpp
  modules/custom_operations/user_ie_extensions/tokenizer/string_tensor_unpack.cpp
  modules/custom_operations/user_ie_extensions/tokenizer/string_tensor_unpack.hpp
  modules/custom_operations/user_ie_extensions/tokenizer/utils.cpp
Labels: category: custom operations

#794 Use explicitly 2023.0 branches
  .ci/azure/linux.yml
  .ci/azure/linux_cuda.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
Labels: category: CI

#796 [TOKENIZERS] Disabled C4703
  modules/custom_operations/user_ie_extensions/tokenizer/CMakeLists.txt
Labels: category: build, category: custom operations

#792 [Tokenizer] Add CLI Tokenizer Converter
  modules/custom_operations/pyproject.toml
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__init__.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/cli.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/constants.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/convert_tokenizer.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/hf_parser.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/tokenizer_pipeline.py
Labels: category: custom operations

#793 [TOKENIZERS] Update license field and version
  modules/custom_operations/pyproject.toml
Labels: category: custom operations

#797 [TOKENIZERS] Extended extension searching paths
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__init__.py
Labels: category: custom operations

#798 [TOKENIZERS] added build of tokenizers in wheel
  .ci/azure/linux.yml
  modules/custom_operations/user_ie_extensions/tokenizer/CMakeLists.txt
Labels: category: build, category: CI, category: custom operations, port to 2023.3

#799 [Tokenizers] Update README.md
  modules/custom_operations/user_ie_extensions/tokenizer/python/README.md
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/cli.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/convert_tokenizer.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/conftest.py
Labels: category: custom operations, port to 2023.3

#801 [TOKENIZERS] Ported PRs from master
  .ci/azure/linux.yml
  modules/custom_operations/pyproject.toml
  modules/custom_operations/user_ie_extensions/tokenizer/CMakeLists.txt
  modules/custom_operations/user_ie_extensions/tokenizer/python/README.md
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__init__.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/cli.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/constants.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/convert_tokenizer.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/hf_parser.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/tokenizer_pipeline.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/conftest.py
Labels: category: build, category: CI, category: custom operations

#802 Remove legacy preprocessing tests
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/plugin/preprocessing.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/plugin/set_preprocess.cpp
Labels: category: NVIDIA plugin
