Repository openvinotoolkit/openvino_contrib, pull requests merged in 2023-02, with the labels that each got.

#582 [ARM Plugin] add enable_profiling & PERFORMANCE_HINT parameter checking
  modules/arm_plugin/src/arm_config.cpp
Labels: category: ARM plugin

#584 Reuse common OpenVINO MemorySolver
  modules/nvidia_plugin/docs/design-rationales/WorkbufferProvisioning.md
  modules/nvidia_plugin/src/memory_manager/model/cuda_memory_model_builder.hpp
  modules/nvidia_plugin/src/memory_manager/model/details/cuda_memory_solver.cpp
  modules/nvidia_plugin/src/memory_manager/model/details/cuda_memory_solver.hpp
  modules/nvidia_plugin/tests/unit/memory_manager/model/details/cuda_memory_solver_test.cpp
Labels: category: NVIDIA plugin

#585 Fixed -Wall warnings for ARM plugin
  modules/arm_plugin/src/arm_converter/arm_converter.cpp
  modules/arm_plugin/src/arm_converter/arm_converter.hpp
  modules/arm_plugin/src/arm_converter/arm_converter_conv.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_fft.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_pool.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_quantize.cpp
  modules/arm_plugin/src/arm_converter/arm_converter_reduce_ops.cpp
  modules/arm_plugin/src/arm_executable_network.hpp
  modules/arm_plugin/src/arm_infer_request.hpp
  modules/arm_plugin/src/transformations/convert_transpose_mat_mul.cpp
  modules/arm_plugin/src/transformations/quantize_fusion.cpp
Labels: category: ARM plugin

#586 Fixed compilation of custom_extensions with -Wall
  modules/custom_operations/user_ie_extensions/calculate_grid.cpp
  modules/custom_operations/user_ie_extensions/complex_mul.cpp
Labels: category: custom operations

#587 Don't build non-required modules on Azure CI
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_coverity_arm64.yml
  .ci/azure/linux_cuda.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
Labels: category: CI

#588 Fixed more warnings in custom_extensions
  modules/arm_plugin/CMakeLists.txt
  modules/custom_operations/user_ie_extensions/fft.cpp
  modules/custom_operations/user_ie_extensions/sparse_conv.cpp
  modules/custom_operations/user_ie_extensions/sparse_conv_transpose.cpp
  modules/nvidia_plugin/CMakeLists.txt
Labels: category: build, category: ARM plugin, category: NVIDIA plugin, category: custom operations

#581 Updated requirements.txt file to avoid vulnerability
  .ci/azure/linux.yml
  modules/custom_operations/tests/requirements.txt
Labels: category: CI, dependencies, category: custom operations

#589 Remove usage of legacy arm_compute_core-static
  modules/arm_plugin/src/CMakeLists.txt
  modules/arm_plugin/src/opset/CMakeLists.txt
  modules/arm_plugin/src/transformations/CMakeLists.txt
  modules/arm_plugin/tests/functional/CMakeLists.txt
  modules/arm_plugin/thirdparty/CMakeLists.txt
Labels: category: build, category: ARM plugin

#590 Fixed compilation with clang-cl for Windows arm64
  modules/arm_plugin/thirdparty/CMakeLists.txt
Labels: category: build, platform: win32, category: ARM plugin

#592 Remove the include about variant.hpp, which had been deprecated
  modules/arm_plugin/src/opset/quantize.hpp
  modules/arm_plugin/src/opset/utils.hpp
  modules/arm_plugin/src/transformations/quantize_fusion.cpp
  modules/arm_plugin/src/transformations/quantize_fusion.hpp
  modules/nvidia_plugin/src/ops/result.cpp
  modules/nvidia_plugin/src/transformer/bidirectional_lstm_sequence_composition.cpp
  modules/nvidia_plugin/src/transformer/concat_transformation.cpp
  modules/nvidia_plugin/src/transformer/cuda_fullyconnected_transformation.cpp
  modules/nvidia_plugin/src/transformer/matmul_transformations.cpp
  modules/nvidia_plugin/src/transformer/remove_duplicated_results_transformation.cpp
Labels: category: ARM plugin, category: NVIDIA plugin

#594 [NVIDIA] fix tests for latest master
  modules/nvidia_plugin/src/cuda_infer_request.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/executable_network/get_metric.cpp
  modules/nvidia_plugin/tests/functional/skip_tests_config.cpp
Labels: category: NVIDIA plugin

#599 [Remove APIs] Modify caused by remove static const AutoBroadcastSpec NUMPY/NONE
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/select.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/fake_quantize.cpp
Labels: category: ARM plugin, category: NVIDIA plugin

#600 [Remove APIs] fix error
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/select.cpp
  modules/nvidia_plugin/src/ops/cudnn_tensor_op_base.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/select.cpp
Labels: category: ARM plugin, category: NVIDIA plugin

#601 Fix Linux Azure pipeline
  .ci/azure/linux.yml
Labels: category: CI

#602 Skip test canStartSeveralAsyncInsideCompletionCallbackWithSafeDtor for MULTI
  modules/arm_plugin/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: ARM plugin

#603 Link Threads library because of ARM Compute
  modules/arm_plugin/thirdparty/CMakeLists.txt
Labels: category: build, category: ARM plugin

#598 Modify OPENVINO_OP using, caused by deprecated version
  modules/arm_plugin/src/opset/pool_arm.hpp
Labels: category: ARM plugin

#591 [NVIDIA] CMAKE_CUDA_ARCHITECTURES support and new architectures
  modules/nvidia_plugin/CMakeLists.txt
  modules/nvidia_plugin/README.md
  modules/nvidia_plugin/src/CMakeLists.txt
  modules/nvidia_plugin/src/cuda/math.cuh
  modules/nvidia_plugin/src/kernels/power.cu
  modules/nvidia_plugin/tests/unit/CMakeLists.txt
Labels: category: build, category: NVIDIA plugin

#607 [NVIDIA] Add Gather-8 (negative indices) support
  modules/nvidia_plugin/src/kernels/gather.cu
  modules/nvidia_plugin/src/ops/gather.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/gather.cpp
Labels: category: NVIDIA plugin

#606 [Remove APIs] fix issue in arm plugin caused by deprecated run_on_function()
  modules/arm_plugin/src/transformations/finalize_trailing_nodes.cpp
  modules/arm_plugin/src/transformations/finalize_trailing_nodes.hpp
  modules/arm_plugin/src/transformations/store_result_name.cpp
  modules/arm_plugin/src/transformations/store_result_name.hpp
  modules/nvidia_plugin/src/cuda_executable_network.cpp
  modules/nvidia_plugin/tests/functional/transformations/cuda_transformations_test.cpp
Labels: category: ARM plugin, category: NVIDIA plugin

#609 Fix compiler error in cuda, caused by changes in any
  modules/nvidia_plugin/src/cuda_executable_network.cpp
Labels: category: NVIDIA plugin

#610 Fixed WoA build with generator expressions
  modules/arm_plugin/thirdparty/CMakeLists.txt
Labels: category: build, platform: arm, platform: win32, category: ARM plugin
