Repository openvinotoolkit/openvino_contrib, pull requests merged in 2023-03, with the labels that each got.

#595 [NVIDIA]: Enable new property API
  modules/nvidia_plugin/include/nvidia/properties.hpp
  modules/nvidia_plugin/src/cuda_config.cpp
  modules/nvidia_plugin/src/cuda_config.hpp
  modules/nvidia_plugin/src/cuda_executable_network.cpp
  modules/nvidia_plugin/src/cuda_infer_request.cpp
  modules/nvidia_plugin/src/cuda_plugin.cpp
  modules/nvidia_plugin/src/transformer/cuda_graph_transformer.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/ov_executable_network/properties.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
  modules/nvidia_plugin/tests/functional/skip_tests_config.cpp
  modules/nvidia_plugin/tests/unit/executable_network.cpp
Labels: category: NVIDIA plugin

#614 [Remove APIs] fix ov::any changes caused cuda test failed
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/plugin/core_integration.cpp
Labels: category: NVIDIA plugin

#612 [NVIDIA] Update supported OS in docs
  modules/nvidia_plugin/README.md
Labels: category: NVIDIA plugin

#617 [NVIDIA] Fix OPERATION_BENCHMARK option reading according to new API
  modules/nvidia_plugin/src/cuda_executable_network.cpp
Labels: category: NVIDIA plugin

#616 [user_ie_extensions] Implement SentensePieceTokenizer operation and conversion extensions
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  modules/custom_operations/README.md
  modules/custom_operations/user_ie_extensions/CMakeLists.txt
  modules/custom_operations/user_ie_extensions/complex_mul.cpp
  modules/custom_operations/user_ie_extensions/grid_sample.cpp
  modules/custom_operations/user_ie_extensions/ov_extension.cpp
  modules/custom_operations/user_ie_extensions/sentence_piece/CMakeLists.txt
  modules/custom_operations/user_ie_extensions/sentence_piece/sentence_piece.cpp
  modules/custom_operations/user_ie_extensions/sentence_piece/sentence_piece.hpp
  modules/custom_operations/user_ie_extensions/sparse_conv.cpp
  modules/custom_operations/user_ie_extensions/sparse_conv_transpose.cpp
Labels: category: build, category: CI, category: custom operations

#620 [ARM] [CUDA] Interpolate - Cleanup of deprecated symbols usage
  modules/arm_plugin/tests/functional/shared_tests_instances/single_layer_tests/interpolation.cpp
  modules/nvidia_plugin/src/ops/interpolate.cpp
  modules/nvidia_plugin/src/ops/interpolate_components/interpolate_components.cpp
  modules/nvidia_plugin/src/ops/interpolate_cubic.cpp
  modules/nvidia_plugin/src/ops/interpolate_linear.cpp
  modules/nvidia_plugin/src/ops/interpolate_nearest.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/interpolate.cpp
Labels: category: ARM plugin, category: NVIDIA plugin

#621 [CUDA] Interpolate - Cleanup of deprecated symbols usage #2
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/interpolate.cpp
Labels: category: NVIDIA plugin

#570 Rename precisions_array -> precisions_map
  modules/arm_plugin/src/transformations/arm_optimizations.cpp
  modules/nvidia_plugin/src/transformer/cuda_graph_transformer.cpp
Labels: category: ARM plugin, category: NVIDIA plugin

#625 [NVIDIA] Skip LoadNetworkToDefaultDeviceNoThrow test
  modules/nvidia_plugin/tests/functional/skip_tests_config.cpp
Labels: category: NVIDIA plugin

#630 Removed UNDEFINED value for execution / performance hints
  modules/arm_plugin/src/arm_config.hpp
  modules/nvidia_plugin/src/cuda_config.cpp
  modules/nvidia_plugin/src/cuda_config.hpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/ov_executable_network/properties.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
  modules/nvidia_plugin/tests/unit/executable_network.cpp
Labels: category: ARM plugin, category: NVIDIA plugin

#632 Change inference precision to be a hint
  modules/nvidia_plugin/src/cuda_config.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/ov_executable_network/properties.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
Labels: category: NVIDIA plugin

#631 Updated sentensepiece version
  modules/custom_operations/user_ie_extensions/sentence_piece/CMakeLists.txt
Labels: category: build, category: custom operations
