Repository openvinotoolkit/openvino_contrib, pull requests merged in 2024-02, with the labels that each got.

#862 Disable proxy for nvidia plugin (#842)
  .github/workflows/history_cuda.yml
  modules/nvidia_plugin/src/CMakeLists.txt
Labels: category: build, category: CI, category: NVIDIA plugin

#864 Remove `CoreConfiguration()`
  modules/nvidia_plugin/tests/functional/core_config.cpp
Labels: category: NVIDIA plugin

#869 [NVIDIA] Add ov::Exception wrapper
  modules/nvidia_plugin/src/error.cpp
Labels: category: NVIDIA plugin

#854 [Tokenizers][TF FE] Fix MUSE conversion
  modules/custom_operations/user_ie_extensions/tokenizer/sentence_piece.cpp
  modules/custom_operations/user_ie_extensions/tokenizer/tensorflow_translators.cpp
Labels: category: custom operations

#858 [Tokenizers] Add Type Argument To Greedy Decoding
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/utils.py
Labels: category: custom operations

#871 Remove legacy test utils
  modules/nvidia_plugin/tests/unit/CMakeLists.txt
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_ti_test.cpp
Labels: category: build, category: NVIDIA plugin

#872 Revert "Remove legacy test utils"
  modules/nvidia_plugin/tests/unit/CMakeLists.txt
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_ti_test.cpp
Labels: category: build, category: NVIDIA plugin

#874 Use API 2.0 properties in Java tests
  modules/java_api/src/test/java/org/intel/openvino/CoreTests.java
Labels: category: java API

#876 Remove legacy test utils
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_ti_test.cpp
Labels: category: NVIDIA plugin

#878 Remove use of `ov_helpers.hpp`
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/ov_finite_comparer.cpp
Labels: category: NVIDIA plugin

#879 Get rid of `ov_models`
  modules/nvidia_plugin/tests/unit/CMakeLists.txt
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_test.cpp
Labels: category: build, category: NVIDIA plugin
