Repository openvinotoolkit/openvino_contrib, pull requests merged in 2024-04, with the labels that each got.

#902 Use OpenVINO 2024.1
  .ci/azure/linux.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  .github/workflows/llama_cpp_plugin_build_and_test.yml
Labels: category: CI

#866 Update nvidia_plugin - tests jinja2 version
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/requirements.txt
Labels: category: NVIDIA plugin, dependencies

#905 [LLAMA_CPP] Enable batch size > 1
  modules/llama_cpp_plugin/src/infer_request.cpp
  modules/llama_cpp_plugin/src/plugin.cpp
  modules/llama_cpp_plugin/tests/common/CMakeLists.txt
  modules/llama_cpp_plugin/tests/common/include/llm_inference.hpp
  modules/llama_cpp_plugin/tests/common/src/llm_inference.cpp
  modules/llama_cpp_plugin/tests/functional/src/batching.cpp
  modules/llama_cpp_plugin/tests/functional/src/reset_state.cpp
  modules/llama_cpp_plugin/tests/functional/src/threading.cpp
Labels: category: build

#906 Bump jinja in nvidia_plugin/utils/shape-extractor
  modules/nvidia_plugin/utils/shape-extractor/requirements.txt
Labels: category: NVIDIA plugin, dependencies

#894 [JAVA_API] Add JNI method for SaveModel
  modules/java_api/src/main/cpp/openvino.cpp
  modules/java_api/src/main/cpp/openvino_java.hpp
  modules/java_api/src/main/java/org/intel/openvino/Openvino.java
  modules/java_api/src/test/java/org/intel/openvino/OpenvinoTests.java
Labels: category: java API

#910 [JAVA_API] update for element type passing
  modules/java_api/src/main/cpp/input_tensor_info.cpp
  modules/java_api/src/main/cpp/jni_common.hpp
  modules/java_api/src/main/cpp/tensor.cpp
  modules/java_api/src/main/java/org/intel/openvino/ElementType.java
Labels: category: java API
