Repository openvinotoolkit/openvino_contrib, pull requests merged in 2024-01, with the labels that each got.

#811 Get rid of legacy builders
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/ov_infer_request/infer_request_dynamic.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/plugin/synthetic.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_backprop_data.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_backprop_data_add.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_biasadd_activation.hpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/cuda_eltwise.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/group_convolution_backprop_data.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/gru_sequence.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/lstm_sequence.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/range.cpp
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_test.cpp
Labels: category: NVIDIA plugin

#810 Delete all tests with API1.0
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/activation.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/activation_slt.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/average_finder.hpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/benchmark.hpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_backprop_data.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_backprop_data_add.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_biasadd_activation.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution_biasadd_activation.hpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/cuda_eltwise.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/cuda_eltwise.hpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/detection_output.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/eltwise_test.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/fake_quantize.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/finite_comparer.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/finite_comparer.hpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/fully_connected.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/gather.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/avgpool.cpp.jinja2
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/clamp.cpp.jinja2
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/convolution.cpp.jinja2
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/convolution_backprop_data.cpp.jinja2
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/convolution_backprop_data_add.cpp.jinja2
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/convolution_biasadd_activation.cpp.jinja2
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/group_convolution.cpp.jinja2
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/group_convolution_biasadd_activation.cpp.jinja2
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/mat_mul.cpp.jinja2
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/maxpool.cpp.jinja2
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/relu.cpp.jinja2
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/sigmoid.cpp.jinja2
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/ops/swish.cpp.jinja2
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/utils.py
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/group_convolution_backprop_data.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/group_convolution_biasadd_activation.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/group_convolution_biasadd_activation_autogenerated.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/gru_cell.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/gru_sequence.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/interpolate.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/lstm_cell.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/lstm_sequence.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/mat_mul.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/minimum_maximum.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/mvn.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/pad_test.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/pooling.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/power.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/range.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/reduce.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/reshape.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/scatter_nd_update.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/select.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/softmax.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/split.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/squeeze_unsqueeze.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/strided_slice.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/tensor_iterator.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/topk.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/unsymmetrical_comparer.hpp
Labels: category: NVIDIA plugin

#809 Delete API1.0 behavior/ tests
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/executable_network/cpp_holders.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/executable_network/exec_network_base.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/executable_network/get_metric.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/infer_request/callback.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/infer_request/config.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/infer_request/infer_request.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/infer_request/io_blob.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/infer_request/perf_counters.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/ov_executable_network/ov_exec_net_import_export.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/plugin/caching_tests.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/plugin/config.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/plugin/core_integration.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/plugin/life_time.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/plugin/synthetic.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/plugin/version.cpp
Labels: category: NVIDIA plugin

#806 [Tokenizers] Add Space Clean Up
  modules/custom_operations/pyproject.toml
  modules/custom_operations/user_ie_extensions/tokenizer/bytes_to_chars.cpp
  modules/custom_operations/user_ie_extensions/tokenizer/bytes_to_chars.hpp
  modules/custom_operations/user_ie_extensions/tokenizer/chars_to_bytes.cpp
  modules/custom_operations/user_ie_extensions/tokenizer/chars_to_bytes.hpp
  modules/custom_operations/user_ie_extensions/tokenizer/normalize_unicode.cpp
  modules/custom_operations/user_ie_extensions/tokenizer/python/README.md
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__init__.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/cli.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/convert_tokenizer.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/hf_parser.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/tokenizer_pipeline.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/conftest.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/pass_rates.json
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/tokenizer_differential_fuzzing.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/tokenizers_test.py
  modules/custom_operations/user_ie_extensions/tokenizer/regex_normalization.hpp
  modules/custom_operations/user_ie_extensions/tokenizer/vocab_decoder.cpp
Labels: category: custom operations

#805 [TOKENIZERS] Removed re2 form package
  modules/custom_operations/user_ie_extensions/tokenizer/CMakeLists.txt
Labels: category: build, category: custom operations, port to 2023.3

#804 [TOKENIZERS] frozen dependency on openvino release version
  .ci/azure/windows.yml
  modules/custom_operations/pyproject.toml
Labels: category: CI, category: custom operations

#812 Remove obsolete contrib modules
  README.md
  modules/arm_plugin/README.md
  modules/mo_pytorch/README.md
  modules/optimum/README.md
  modules/ovms_ai_extension/README.md
  modules/rust_api/README.md
Labels: category: OVMS AI extension

#813 [TOKENIZERS] Port from master
  modules/custom_operations/pyproject.toml
  modules/custom_operations/user_ie_extensions/tokenizer/CMakeLists.txt
  modules/custom_operations/user_ie_extensions/tokenizer/bytes_to_chars.cpp
  modules/custom_operations/user_ie_extensions/tokenizer/bytes_to_chars.hpp
  modules/custom_operations/user_ie_extensions/tokenizer/chars_to_bytes.cpp
  modules/custom_operations/user_ie_extensions/tokenizer/chars_to_bytes.hpp
  modules/custom_operations/user_ie_extensions/tokenizer/normalize_unicode.cpp
  modules/custom_operations/user_ie_extensions/tokenizer/python/README.md
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__init__.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/cli.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/convert_tokenizer.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/hf_parser.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/tokenizer_pipeline.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/conftest.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/pass_rates.json
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/tokenizer_differential_fuzzing.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/tokenizers_test.py
  modules/custom_operations/user_ie_extensions/tokenizer/regex_normalization.hpp
  modules/custom_operations/user_ie_extensions/tokenizer/vocab_decoder.cpp
Labels: category: build, category: custom operations

#800 [TOKENIZERS] Bump version to match OpenVINO master
  .ci/azure/windows.yml
  modules/custom_operations/pyproject.toml
Labels: category: CI, category: custom operations

#814 [Tokenizers] Add WA for TF Text Sentencepiece Tokenizer
  modules/custom_operations/user_ie_extensions/tokenizer/sentence_piece.cpp
Labels: category: custom operations

#816 [Tokenizers] Add WA for TF Text Sentencepiece Tokenizer (#814)
  modules/custom_operations/user_ie_extensions/tokenizer/sentence_piece.cpp
Labels: category: custom operations

#817 Try to fix tokenizers on Linux
  .ci/azure/linux.yml
  .ci/azure/linux_cuda.yml
  .ci/azure/mac.yml
  modules/custom_operations/user_ie_extensions/tokenizer/CMakeLists.txt
Labels: category: build, category: CI, category: custom operations

#818 [NVIDIA] Switch to ov shape utils
  modules/nvidia_plugin/src/ops/mvn.cpp
Labels: category: NVIDIA plugin

#819 [Tokenizers] Try to fix tokenizers on Linux
  .ci/azure/linux.yml
  .ci/azure/linux_cuda.yml
  .ci/azure/mac.yml
  modules/custom_operations/user_ie_extensions/tokenizer/CMakeLists.txt
Labels: category: build, category: CI, category: custom operations

#821 Removed legacy API 1.0
  .ci/azure/linux.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  modules/custom_operations/user_ie_extensions/complex_mul.cpp
  modules/custom_operations/user_ie_extensions/fft.cpp
  modules/custom_operations/user_ie_extensions/tokenizer/string_tensor_unpack.cpp
Labels: category: CI, category: custom operations

#822 Removed legacy cmake options
  .ci/azure/linux.yml
  .ci/azure/linux_cuda.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
Labels: category: CI

#823 [custom operations] Use ov::element in custom operations module
  modules/custom_operations/user_ie_extensions/calculate_grid.cpp
  modules/custom_operations/user_ie_extensions/complex_mul.cpp
  modules/custom_operations/user_ie_extensions/fft.cpp
  modules/custom_operations/user_ie_extensions/grid_sample.cpp
  modules/custom_operations/user_ie_extensions/sparse_conv.cpp
  modules/custom_operations/user_ie_extensions/sparse_conv_transpose.cpp
Labels: category: custom operations

#815 [NVIDIA] Remove InferPadding from convolution
  modules/nvidia_plugin/src/ops/convolution_components/convolution_components.cpp
  modules/nvidia_plugin/src/ops/convolution_components/convolution_components.hpp
Labels: category: NVIDIA plugin

#824 [nvidia_plugin] Remove host tensor dependency
  modules/nvidia_plugin/src/cuda/cuda_type_traits.hpp
  modules/nvidia_plugin/src/ops/convert_color_i420.hpp
  modules/nvidia_plugin/src/ops/convert_color_nv12.hpp
  modules/nvidia_plugin/src/transformer/nodes/fully_connected.cpp
Labels: category: NVIDIA plugin

#826 [Tokenizers] Patch FrontEnd Init With Extension
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__init__.py
Labels: category: custom operations, port to 2023.3

#827 Removed Java API 1.0
  modules/java_api/README.md
  modules/java_api/build.gradle
  modules/java_api/samples/README.md
  modules/java_api/samples/benchmark_app/build.gradle
  modules/java_api/samples/benchmark_app/settings.gradle
  modules/java_api/samples/benchmark_app/src/main/java/InferReqWrap.java
  modules/java_api/samples/benchmark_app/src/main/java/InferRequestsQueue.java
  modules/java_api/samples/benchmark_app/src/main/java/Main.java
  modules/java_api/samples/face_detection_sample_async/build.gradle
  modules/java_api/samples/face_detection_sample_async/settings.gradle
  modules/java_api/samples/face_detection_sample_async/src/main/java/Main.java
  modules/java_api/src/main/cpp/compatibility/blob.cpp
  modules/java_api/src/main/cpp/compatibility/cnn_network.cpp
  modules/java_api/src/main/cpp/compatibility/data.cpp
  modules/java_api/src/main/cpp/compatibility/enum_mapping.hpp
  modules/java_api/src/main/cpp/compatibility/executable_network.cpp
  modules/java_api/src/main/cpp/compatibility/ie_core.cpp
  modules/java_api/src/main/cpp/compatibility/infer_request.cpp
  modules/java_api/src/main/cpp/compatibility/input_info.cpp
  modules/java_api/src/main/cpp/compatibility/locked_memory.cpp
  modules/java_api/src/main/cpp/compatibility/parameter.cpp
  modules/java_api/src/main/cpp/compatibility/pre_process_info.cpp
  modules/java_api/src/main/cpp/compatibility/tensor_desc.cpp
  modules/java_api/src/main/cpp/openvino_java.hpp
  modules/java_api/src/main/java/org/intel/openvino/compatibility/Blob.java
  modules/java_api/src/main/java/org/intel/openvino/compatibility/CNNNetwork.java
  modules/java_api/src/main/java/org/intel/openvino/compatibility/Data.java
  modules/java_api/src/main/java/org/intel/openvino/compatibility/ExecutableNetwork.java
  modules/java_api/src/main/java/org/intel/openvino/compatibility/IECore.java
  modules/java_api/src/main/java/org/intel/openvino/compatibility/IEWrapper.java
  modules/java_api/src/main/java/org/intel/openvino/compatibility/InferRequest.java
  modules/java_api/src/main/java/org/intel/openvino/compatibility/InferenceEngineProfileInfo.java
  modules/java_api/src/main/java/org/intel/openvino/compatibility/InputInfo.java
  modules/java_api/src/main/java/org/intel/openvino/compatibility/Layout.java
  modules/java_api/src/main/java/org/intel/openvino/compatibility/LockedMemory.java
  modules/java_api/src/main/java/org/intel/openvino/compatibility/Parameter.java
  modules/java_api/src/main/java/org/intel/openvino/compatibility/PreProcessInfo.java
  modules/java_api/src/main/java/org/intel/openvino/compatibility/Precision.java
  modules/java_api/src/main/java/org/intel/openvino/compatibility/ResizeAlgorithm.java
  modules/java_api/src/main/java/org/intel/openvino/compatibility/StatusCode.java
  modules/java_api/src/main/java/org/intel/openvino/compatibility/TensorDesc.java
  modules/java_api/src/main/java/org/intel/openvino/compatibility/WaitMode.java
  modules/java_api/src/test/java/org/intel/openvino/compatibility/BlobTests.java
  modules/java_api/src/test/java/org/intel/openvino/compatibility/CNNNetworkTests.java
  modules/java_api/src/test/java/org/intel/openvino/compatibility/DataTests.java
  modules/java_api/src/test/java/org/intel/openvino/compatibility/IECoreTests.java
  modules/java_api/src/test/java/org/intel/openvino/compatibility/IETest.java
  modules/java_api/src/test/java/org/intel/openvino/compatibility/InferRequestTests.java
  modules/java_api/src/test/java/org/intel/openvino/compatibility/InputInfoTests.java
  modules/java_api/src/test/java/org/intel/openvino/compatibility/TestsSuite.java
Labels: category: java API

#825 [NVIDIA] Add infer_conv_backprop_auto_padding func
  modules/nvidia_plugin/src/transformer/nodes/fused_convolution_backprop_data.cpp
Labels: category: NVIDIA plugin

#829 [Tokenizers] Patch FrontEnd Init With Extension (#826)
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__init__.py
Labels: category: custom operations

#828 GFI template
  .github/ISSUE_TEMPLATE/good_first_issue.yml
Labels: category: CI

#830 Remove some legacy API header files
  modules/nvidia_plugin/src/cuda_compiled_model.cpp
  modules/nvidia_plugin/src/cuda_infer_request.cpp
  modules/nvidia_plugin/src/cuda_plugin.cpp
  modules/nvidia_plugin/src/ops/result.cpp
  modules/nvidia_plugin/src/transformer/concat_transformation.cpp
  modules/nvidia_plugin/src/transformer/fuse_conv_biasadd_activation.cpp
  modules/nvidia_plugin/src/transformer/fuse_matmul_add.cpp
  modules/nvidia_plugin/src/transformer/matmul_transformations.cpp
  modules/nvidia_plugin/src/transformer/reduce_transformation.cpp
Labels: category: NVIDIA plugin

#832 [Tokenizers] requirements-dev.txt
  modules/custom_operations/requirements-build.txt
Labels: dependencies, category: custom operations

#835 Removed API 1.0 from NVIDIA plugin
  modules/nvidia_plugin/include/nvidia/nvidia_config.hpp
  modules/nvidia_plugin/src/cancellation_token.hpp
  modules/nvidia_plugin/src/cuda/blas.hpp
  modules/nvidia_plugin/src/cuda_compiled_model.cpp
  modules/nvidia_plugin/src/cuda_compiled_model.hpp
  modules/nvidia_plugin/src/cuda_config.cpp
  modules/nvidia_plugin/src/cuda_config.hpp
  modules/nvidia_plugin/src/cuda_infer_request.cpp
  modules/nvidia_plugin/src/cuda_operation_base.cpp
  modules/nvidia_plugin/src/cuda_operation_base.hpp
  modules/nvidia_plugin/src/cuda_operation_registry.hpp
  modules/nvidia_plugin/src/cuda_plugin.cpp
  modules/nvidia_plugin/src/cuda_thread_pool.cpp
  modules/nvidia_plugin/src/kernels/details/error.cpp
  modules/nvidia_plugin/src/memory_manager/cuda_device_mem_block.cpp
  modules/nvidia_plugin/src/ops/convolution_components/convolution_cudnn_components.cpp
  modules/nvidia_plugin/src/ops/convolution_cudnn.cpp
  modules/nvidia_plugin/src/ops/convolution_cudnn_be.cpp
  modules/nvidia_plugin/src/ops/details/cuda_ie_api_import_fix.hpp
  modules/nvidia_plugin/src/ops/details/cuda_ngraph_import_fix.hpp
  modules/nvidia_plugin/src/ops/fused_convolution_cudnn.cpp
  modules/nvidia_plugin/src/ops/fused_convolution_cudnn_be.cpp
  modules/nvidia_plugin/src/ops/fused_convolution_cudnn_decomposed.cpp
  modules/nvidia_plugin/src/ops/logical_not.cpp
  modules/nvidia_plugin/src/transformer/cuda_graph_transformer.hpp
  modules/nvidia_plugin/tests/unit/compile_model.cpp
  modules/nvidia_plugin/tests/unit/memory_manager/model/cuda_memory_model_test.cpp
Labels: category: NVIDIA plugin

#759 [NVIDIA] Add Transfer and Kernel Node Wrappers, NodeParams Structure
  modules/nvidia_plugin/src/cuda/device_pointers.hpp
  modules/nvidia_plugin/src/cuda/graph.cpp
  modules/nvidia_plugin/src/cuda/graph.hpp
  modules/nvidia_plugin/src/cuda/node_params.hpp
  modules/nvidia_plugin/src/kernels/insert.cu
  modules/nvidia_plugin/src/kernels/insert.hpp
  modules/nvidia_plugin/src/kernels/slice.cu
  modules/nvidia_plugin/src/kernels/slice.hpp
  modules/nvidia_plugin/tests/unit/cuda_graph_nodes_test.cpp
Labels: category: NVIDIA plugin

#836 Fixed NVIDIA API 1.0 leftovers
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/ov_executable_network/properties.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/ov_finite_comparer.hpp
Labels: category: NVIDIA plugin

#838 [Tokenizers] Add Cpack Instructions
  modules/custom_operations/user_ie_extensions/tokenizer/python/README.md
Labels: category: custom operations

#840 [TOKENIZERS] Changed target name
  .ci/azure/linux.yml
  .ci/azure/windows.yml
  modules/custom_operations/user_ie_extensions/tokenizer/CMakeLists.txt
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__init__.py
Labels: category: build, category: CI, category: custom operations

#839 [Tokenizers] Add Cpack Instructions (#838)
  modules/custom_operations/user_ie_extensions/tokenizer/python/README.md
Labels: category: custom operations

#841 Disable broken test
  modules/nvidia_plugin/tests/functional/skip_tests_config.cpp
Labels: category: NVIDIA plugin

#837 [TOKENIZERS] Changed target name
  modules/custom_operations/user_ie_extensions/tokenizer/CMakeLists.txt
Labels: category: build, category: custom operations

#842 Disable proxy for nvidia plugin
  modules/nvidia_plugin/src/CMakeLists.txt
Labels: category: build, category: NVIDIA plugin

#843 [Tokenizers] Add minimal version for transformers library
  modules/custom_operations/pyproject.toml
Labels: category: custom operations

#844 [Tokenizers][SDL] Add minimal version for transformers library (#843)
  modules/custom_operations/pyproject.toml
Labels: category: custom operations

#846 Cuda graph
  modules/nvidia_plugin/src/cuda_eager_topology_runner.cpp
  modules/nvidia_plugin/src/cuda_eager_topology_runner.hpp
  modules/nvidia_plugin/src/cuda_graph_context.hpp
Labels: category: NVIDIA plugin

#850 OV deprectaed ov::descriptor::Tensor construct with name
  modules/nvidia_plugin/tests/unit/result.cpp
Labels: category: NVIDIA plugin

#851 [Tokenizers] Throw Exception for Unexpected Input Type
  modules/custom_operations/user_ie_extensions/tokenizer/sentence_piece.cpp
Labels: category: custom operations, port to 2023.3

#852 [Tokenizers][SDL] Throw Exception for Unexpected Type
  modules/custom_operations/user_ie_extensions/tokenizer/sentence_piece.cpp
Labels: category: custom operations

#856 Preperties of executor config are changed to private
  modules/nvidia_plugin/src/cuda_compiled_model.cpp
Labels: category: NVIDIA plugin

#847 Allow to use DevPackage via OpenVINO_DIR
  modules/custom_operations/CMakeLists.txt
  modules/custom_operations/user_ie_extensions/tokenizer/CMakeLists.txt
Labels: category: build, category: custom operations

#857 [Tokenizers] Fix CPack Link
  modules/custom_operations/user_ie_extensions/tokenizer/python/README.md
Labels: category: custom operations, port to 2023.3

#859 [NVIDIA] Remove ngraph/util.hpp dependency
  modules/nvidia_plugin/src/ops/clamp_cudnn.cpp
Labels: category: NVIDIA plugin

#860 Disable JS API build in azure windows ci by default
  .ci/azure/windows.yml
Labels: category: CI

#861 [TOKENIZERS] Set module version
  modules/custom_operations/pyproject.toml
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__init__.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__version__.py
Labels: category: custom operations
