Repository openvinotoolkit/openvino_contrib, pull requests merged in 2024-03, with the labels that each got.

#885 Port `.take` functionality for Good First Issues from OpenVINO repository
  .github/workflows/assign_issue.yml
Labels: category: CI

#888 Do not use opset in transformation tests
  modules/nvidia_plugin/tests/unit/transformations/bidirectional_lstm_sequence_composition.cpp
  modules/nvidia_plugin/tests/unit/transformations/concat_transformation.cpp
  modules/nvidia_plugin/tests/unit/transformations/cuda_transformations_test.cpp
  modules/nvidia_plugin/tests/unit/transformations/detection_output_fix_input_types.cpp
  modules/nvidia_plugin/tests/unit/transformations/fuse_matmul_add.cpp
  modules/nvidia_plugin/tests/unit/transformations/reduce_transformation.cpp
  modules/nvidia_plugin/tests/unit/transformations/remove_redundant_convert_transformation.cpp
Labels: category: NVIDIA plugin

#890 Update Good First Issue template
  .github/ISSUE_TEMPLATE/good_first_issue.yml
Labels: category: CI

#883 [JAVA_API] Wrapper for ov::PartialShape
  modules/java_api/src/main/cpp/dimension.cpp
  modules/java_api/src/main/cpp/openvino_java.hpp
  modules/java_api/src/main/cpp/output.cpp
  modules/java_api/src/main/cpp/partial_shape.cpp
  modules/java_api/src/main/java/org/intel/openvino/Dimension.java
  modules/java_api/src/main/java/org/intel/openvino/Output.java
  modules/java_api/src/main/java/org/intel/openvino/PartialShape.java
  modules/java_api/src/test/java/org/intel/openvino/ModelTests.java
Labels: category: java API

#891 LLAMA_CPP plugin - basic version with direct file loading
  .github/workflows/llama_cpp_plugin_build_and_test.yml
  modules/llama_cpp_plugin/.clang-format
  modules/llama_cpp_plugin/CMakeLists.txt
  modules/llama_cpp_plugin/README.md
  modules/llama_cpp_plugin/include/compiled_model.hpp
  modules/llama_cpp_plugin/include/infer_request.hpp
  modules/llama_cpp_plugin/include/plugin.hpp
  modules/llama_cpp_plugin/include/state.hpp
  modules/llama_cpp_plugin/src/CMakeLists.txt
  modules/llama_cpp_plugin/src/compiled_model.cpp
  modules/llama_cpp_plugin/src/infer_request.cpp
  modules/llama_cpp_plugin/src/plugin.cpp
  modules/llama_cpp_plugin/tests/e2e/CMakeLists.txt
  modules/llama_cpp_plugin/tests/e2e/prompt_response.cpp
  modules/llama_cpp_plugin/tests/e2e/set_device_name.cpp
Labels: category: build, category: CI

#896 Revert "LLAMA_CPP plugin - basic version with direct file loading"
  .github/workflows/llama_cpp_plugin_build_and_test.yml
  modules/llama_cpp_plugin/.clang-format
  modules/llama_cpp_plugin/CMakeLists.txt
  modules/llama_cpp_plugin/README.md
  modules/llama_cpp_plugin/include/compiled_model.hpp
  modules/llama_cpp_plugin/include/infer_request.hpp
  modules/llama_cpp_plugin/include/plugin.hpp
  modules/llama_cpp_plugin/include/state.hpp
  modules/llama_cpp_plugin/src/CMakeLists.txt
  modules/llama_cpp_plugin/src/compiled_model.cpp
  modules/llama_cpp_plugin/src/infer_request.cpp
  modules/llama_cpp_plugin/src/plugin.cpp
  modules/llama_cpp_plugin/tests/e2e/CMakeLists.txt
  modules/llama_cpp_plugin/tests/e2e/prompt_response.cpp
  modules/llama_cpp_plugin/tests/e2e/set_device_name.cpp
Labels: category: build, category: CI

#897 Revert "Revert "LLAMA_CPP plugin - basic version with direct file loading""
  .github/workflows/llama_cpp_plugin_build_and_test.yml
  modules/llama_cpp_plugin/.clang-format
  modules/llama_cpp_plugin/CMakeLists.txt
  modules/llama_cpp_plugin/README.md
  modules/llama_cpp_plugin/include/compiled_model.hpp
  modules/llama_cpp_plugin/include/infer_request.hpp
  modules/llama_cpp_plugin/include/plugin.hpp
  modules/llama_cpp_plugin/include/state.hpp
  modules/llama_cpp_plugin/src/CMakeLists.txt
  modules/llama_cpp_plugin/src/compiled_model.cpp
  modules/llama_cpp_plugin/src/infer_request.cpp
  modules/llama_cpp_plugin/src/plugin.cpp
  modules/llama_cpp_plugin/tests/e2e/CMakeLists.txt
  modules/llama_cpp_plugin/tests/e2e/prompt_response.cpp
  modules/llama_cpp_plugin/tests/e2e/set_device_name.cpp
Labels: category: build, category: CI
